.row{:style => "margin-top:35px;"}
  .span8{:style => "margin-top:15px;"}
    %h4.font-bold CHANGE PAYMENT METHOD
    = form_for @credit_card, url: user_payment_method_path(current_user), method: :put, html: { class: "well registration-edit"} do |f|
      %p.form-subtitle
        If you wish to use a different card for your monthly subscription payment enter the details of the new card below.
      - if @credit_card.errors.any?
        .error-box
          %ul
            - @credit_card.errors.full_messages.each do |error_message|
              %li= error_message
      = render partial: 'payment_methods/credit_card_fields', locals: { f: f }
  .span4
    .well.info.without-title
      .box-content
        %h5.label-green{style: "margin-bottom: 7px;"} CURRENT PAYMENT METHOD
        %p The following payment card is currently used for payment:
        .info_card
          - if @customer_card
            = render partial: 'payment_methods/default_card_details', locals: { customer_card: @customer_card }
          - else
            You have not setup any card yet.