%fieldset{:style => "position:relative"}
  .perk-container
    = render "perk", :f => f


  %a.add-perk.btn{:href => "#"} SAVE PERK & ADD MORE

:javascript
  var i = 0;
  var new_index = function(){
    $('.perk').each(function(){
      $(this).find('div').each(function(){
        $(this).children().each(function(){
          if($(this).attr('id')){
            var id = $(this).attr('id');
            var name = $(this).attr('name');
            name = name.replace('test', i);
            id = id.replace('test', i);
            $(this).attr('name', name);
            $(this).attr('id', id);
            $(this).garlic();
          }
        });
      });
      i++;
    });
  }

  $('.add-perk').click(function(){
    $('.perk-container').append(" #{escape_javascript(render 'perk', :f => f )}");
    new_index();
  });

  $(document).on('click', '.remove', function(){
    $(this).parent().remove();
  });
