<!DOCTYPE html>
<html style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
  <head style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta content='width=device-width' name='viewport' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <title style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>URUUT</title>
      </meta>
    </meta>
  </head>
  <body bgcolor='#FFFFFF' leftmargin='0' marginheight='0' marginwidth='0' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%;' topmargin='0'>
    <!--
      ----------------------------------
      ---- HEADER --------------------------
      -----------------------------------
    -->
    <table class='head-wrap' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
      <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;background:none;'></td>
        <td class='header container' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;display: block;max-width: 620px;clear: both;'>
          <div class='content' style='margin: 0 auto;padding: 15px 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;display: block;'>
            <table style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;font-weight: normal;font-size: 11px;line-height: 1;'>
                    <span style='color:#70bf4c'>Uruut.</span>
                    Connect. Cooperate. Take Action
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
      </tr>
    </table>
    <table class='head-wrap' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
      <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;background:none;'></td>
        <td class='header container' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;display: block;max-width: 620px;clear: both;border-bottom:6px solid #70bf4c;background:#403e37'>
          <div class='content' style='margin: 0 auto;padding: 15px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;display: block;'>
            <table bgcolor='#403e37' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <img src='https://uruut.herokuapp.com/assets/logo.png' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 100%;'>
                </td>
                <td align='right' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <h6 class='collapse' style='margin: 0;padding: 0;font-family: &amp;quot;HelveticaNeue-Light&amp;quot;, &amp;quot;Helvetica Neue Light&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, &amp;quot;Lucida Grande&amp;quot;, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #444;font-weight: 900;font-size: 14px;'>Log in to your account</h6>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
      </tr>
    </table>
    <!--
      ----------------------------------
      ---- BODY ----------------------------
      -----------------------------------
    -->
    <table class='body-wrap' style='margin:-6px 0 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
      <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
        <td class='container' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;display: block;max-width: 620px;clear: both;'>
          <!-- content -->
          <div class='content' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;display: block;'>
            <table style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <img src='' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 100%;max-width:620px;'>
                  <!-- /hero -->
                </td>
              </tr>
            </table>
          </div>
          <!-- COLUMN WRAP -->
          <div class='column-wrap' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;'></div>
          <div class='column' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width:100%;'>
            <table align='left' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td style='margin: 0;padding: 15px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width:100%;max-width:620px;'>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;'>Dear</p>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;'>We have received your submission for  to URUUT.</p>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;'>Over the next 72 hours, we will review your information and approve, deny or suggest changes to your project.  This process is intended to protect you from circumstances you may not have foreseen and ensure that you are set up to succeed. Thank you for your patience while we make sure everything is ready to go.  We will be back in touch with you as quickly as we can; we know that you are ready to get things moving.</p>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;'>
                    In the meantime, if you have any questions that aren’t answered in the FAQ’s (/pages/faqs), please feel free to reach out to us at /pages/contact
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <!-- /COLUMN WRAP -->
        </td>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
      </tr>
    </table>
    <!-- FOOTER -->
    <table class='head-wrap' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
      <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;background:none;'></td>
        <td class='header container' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;display: block;max-width: 620px;clear: both;background:#403e37'>
          <div class='content' style='margin: 0 auto;padding: 15px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;display: block;'>
            <table bgcolor='#403e37' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
                <td align='right' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <div style='color:#fff'>
                    <span style='font-size:14px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;vertical-align:middle'>FIND US ON:</span>
                    <a href='http://www.facebook.com/get.ruuted' style='color:#fff;text-decoration:none;margin:0 5px;'>
                      <img src='http://uruut-dev.herokuapp.com/assets/email-facebook.png' style='vertical-align:middle;margin-right:5px;'>/get.ruuted</img>
                    </a>
                    <a href='http://www.twitter.com/uruut' style='color:#fff;text-decoration:none;margin:0 5px;'>
                      <img src='http://uruut-dev.herokuapp.com/assets/email-twitter.png' style='vertical-align:middle;margin-right:5px;'>@uruut</img>
                    </a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
      </tr>
    </table>
    <table class='footer-wrap' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;clear: both;'>
      <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
        <td class='container' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;display: block;max-width: 620px;clear: both;'>
          <!-- content -->
          <div class='content' style='margin: 0 auto;padding: 15px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;display: block;'>
            <table style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td align='center' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size:10px;'>
                    URUUT | 5250 Manhasset Cove | Dunwody | GA | 30338
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <!-- /content -->
        </td>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
      </tr>
    </table>
    <!-- /FOOTER -->
  </body>
</html>
