%tr
	%td{:valign => "top"}
		%img{:src => "http://#{@host}/assets/pr-email-banner.jpg", :style => "display:block;"}
%tr
	%td{:valign => "top", :style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;" }
		Dear #{@name}
		%br

		Welcome to Nonprofit Xchange!  You are one step closer to a more vibrant community where "Strengthening Community Starts With U."
		%br

		Nonprofit Xchange helps transform communities by bringing individuals, businesses and foundations together with groups seeking community-level funding through a transparent, feature-rich, crowdfunding platform.
		%br

		We are very excited to have you as part of the Nonprofit Xchange Community!
		%br

		You can find out more about Nonprofit Xchange and our innovative, new approach to crowdfunding
		%a{:href => "https://#{@host}/pages/funding_sources"} here
		, and you can browse our projects in the
		%a{:href => "https://#{@host}/browse/projects"} Marketplace.
		%br

		Welcome!
		%br

		The Nonprofit Xchange Team