%tr
	%td{:valign => "top"}
		%img{:src => "http://#{@host}/assets/pr-email-banner.jpg", :style => "display:block;"}
%tr
	%td{:valign => "top", :style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;" }
		Dear #{@name},
		%br

		Welcome to the TechBridge Nonprofit Exchange community where your pledge makes a difference!
		%br

		The Nonprofit Exchange gives nonprofits access to technology through crowdfunding. Every campaign is evaluated and scoped by TechBridge to ensure viability. Funded campaigns are guaranteed completion by TechBridge and its partners.
		%br

		Help nonprofits operate and deliver their mission more effectively by backing a campaign on the Exchange today!
		%br

		Sincerely,
		%br