%tr
	%td{:valign => "top"}
		%img{:src => "http://#{@host}/assets/pr-email-banner.jpg", :style => "display:block;"}
%tr
	%td{:valign => "top", :style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;" }
		Dear #{@first_name}
		%br

		Welcome to the TechBridge Nonprofit Xchange community where your pledge makes a difference!
		%br

		The Nonprofit Xchange gives nonprofits access to the technology software and infrastructure, and by extension operational efficiencies, enjoyed by commercial entities through crowdfundung. Every campaign listed is evaluated and scoped by TechBridge to ensure viability. Funded campaigns are guaranteed completion by TechBridge and/or its partners.
		%br

		Help nonprofits operate and deliver their mission more effectively by backing a campaign on the Xchange today!
		%br

		Sincerely,
		%br

		Jennifer Higgins
		Manager, TechBridge Nonprofit Xchange