%tr
	%td{:valign => "top"}
		%img{:src => "http://#{@host}/assets/pr-email-banner.jpg", :style => "display:block;"}
%tr
	%td{:valign => "top", :style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;" }
		Dear #{@name}
		%br

		%br
		Hello, #{@name}
		%br
		%br

		Thanks for choosing
		%a{ href: root_url } Uruut.com
		to help your manage your nonprofit operations more efficiently and effectively.
		%br
		Your new URUUT account is now active and you can begin using it immediately.
		To get started, simply visit
		%a{ href: root_url } www.uruut.com
		%br

		To help you get started, we will assign one of our campaign launch
		managers to
		%a{ href: 'http://www.meetme.so/uruut' } schedule a “kick-off call”
		with you to walk you through the campaign set up process and help answer any questions you might have.
		%br

		%a{ href: 'http://www.meetme.so/uruut' } Click here to schedule your kick-off call.
		%br

		or visit this link
		%a{ href: 'http://www.meetme.so/UruutConsulting' }
		%br
		%br

		Once again, thank you very much for joining URUUT. We look forward to work
		with you to get started and continued wishes for success for you and your organization.
		%br
		%br

		Best regards,
		%br

		Mark Feinberg,
		%br

		Co-Founder/CEO
		%br

		%a{ href: root_url } Uruut.com
		%br

		Welcome!
		%br

		The Uruut Team