Hello #{@user.first_name},
%br

Thanks for visiting
%a{ href: root_url } Uruut.com
%br

You can
%a{ href: 'http://www.meetme.so/uruut'} schedule a private demo
whenever its convenient for you using our easy
%a{ href: 'http://www.meetme.so/uruut'} online schedule tool.
%br

One of our specialists will host a short online meeting with you to walk
you these great features:
%br
%ul
  %li Run “all or nothing” or “partial funding” campaigns.
  %li Multi-donor funding - makes it easy for all types of donors including individuals, businesses, and foundations to make donors.
  %li Transparency Workroom - shows donors how and where their funds are used.
  %li And a whole lot more!
%br

%a{ href: 'http://www.meetme.so/uruut'} Private demos
typically run for approx. 15 minutes, but we’ll spend as much time as you like.
%br

Thanks again, and continued wishes for success for you and your organization.
%br

Best regards,
%br

Mark Feinberg,
%br

Co-Founder/CEO
%br

%a{ href: root_url } Uruut.com
