%br
Hello,
%br
%br

Thanks for visiting
%a{ href: root_url } Uruut.com
%br
%br

When you’re ready, one of our specialists is standing by to
%a{ href: 'http://www.meetme.so/uruut' } schedule a private URUUT demo
whenever its convenient for you using our easy
%a{ href: 'http://www.meetme.so/uruut' } online schedule tool.
%br
%br


Thanks again for visiting Uruut.com and continued wishes for success for you and your organization.
%br
%br

Best regards,
%br

Mark Feinberg,
%br

Co-Founder/CEO
%br

%a{ href: root_url } Uruut.com
%br