:css
  .full-with {
    width: 100% !important;
  }
  input[type="radio"]{
    display: inline-block;
    float: left;
  }
  .inline{ width: 100%; }
  .inline-field{
    display: inline-block;
    width: 60px;
  }
  .inline-field label{ width: auto; }
  label{
    width: 90%;
    margin-left: 5px; 
    margin-bottom: 10px;
    display: inline-block;
    font-family: "Proxima Nova Semi";
    font-size: 10pt;
    line-height: 14pt;
  }
  .label-green{
    font-family: "Proxima Nova Bold";
    margin-left: 0;
    width: 130%;
  }
  .error-box {
    display: none;
    background: rgba(245, 11, 11, 0.69);
    color: #fff;
    padding: 7px;
    font-weight: bold;
  }

.span8{style: "margin-top:35px;"}

  = yield

.span4
  .well.without-title{style: "margin-top: 75px;"} 
    .box-content
      %h5.label-green{style: "margin-bottom: 7px;"} NOT READY FOR A DEMO YET?
      = link_to 'Request More Information ►', contact_pages_path

    .box-content
      %h5.label-green{style: "margin-bottom: 7px;"} ARE YOU A DONOR?
      = link_to 'View Fundraising Projects Here ►', browse_projects_path
