%h4.step_name SIGN UP (STEP 2 OF 2)
= form_for @demo, url: demo_request_path , html: {class: "well"} do |f|
  - if @demo.errors.any?
    .error-box
      %ul
        - @demo.errors.full_messages do |error_message|
          %li= error_message
  = render partial: 'demo_requests/step2'
