.container.texture
  .row-fluid
    .span12.banner
      #search
        = link_to "Find Local Projects", "#", :class => 'large-marker'
        = link_to "Change Location", "#", :class => 'change-location'
      #map{:style => "height:372px;width:960px;"}
      %p.center
        Map tiles by Stamen Design, under CC BY 3.0. Data by OpenStreetMap, under CC BY SA.
