.full-width.texture
  .container
    / = form_tag browse_projects_path, method: "get", class: "project-filter" do
    /   %div
    /     = image_tag "mag-glass.png"
    /     %h3 DISCOVER PROJECTS
    /   .category.dropdown
    /     %label PROJECT CATEGORY:
    /     %select{:id => "category", :name => "category"}
    /       %option All Categories
    /       = render "partials/project_filters", :type => :category
    /   .location.dropdown
    /     %label PROJECT LOCATION:
    /     %select{:id => "location", :name => "city"}
    /       %option All cities
    /       = render "partials/project_filters", :type => :city
    = form_tag browse_projects_path, method: "get", class: "project-keywords" do
      %div
        = image_tag "mag-glass.png"
        %h3 DISCOVER PROJECTS
      .span12
        .row
          .category.dropdown
            %label PROJECT CATEGORY:
            %select{:id => "category", :name => "category"}
              %option All Categories
              = render "partials/project_filters", :type => :category
          .location.dropdown
            %label PROJECT LOCATION:
            %select{:id => "location", :name => "city"}
              %option All cities
              = render "partials/project_filters", :type => :city
          .keyword.dropdown
            %label KEYWORD SEARCH
            %input{:type => 'search', :id => 'keyword', :name => "keyword", :placeholder => "Keyword...",
              :value => params[:keyword]}
              %button.btn.btns{:type => "submit"}
                %span
