.container
  .row-fluid
    .span12.banner{:style => "padding: 10px;border: 1px solid #DFDFDF;box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);margin-bottom:35px;"}
      #map{:style => "height:350px;width:100%;"}
