.full-width.texture
  .container
    = form_tag search_projects_path, method: "get", class: "project-filter" do
      %div
        = image_tag "mag-glass.png"
        %h3 DISCOVER PROJECTS
      .span12
        .row
          .category.dropdown
            %label PROJECT CATEGORY:
            %section.selectParent
              %select{:id => "category", :name => "category", class: "styledSelect"}
                %option All Categories
                = render "partials/project_filters", :type => :category
          .location.dropdown
            %label PROJECT LOCATION:
            %section.selectParent
              %select{:id => "location", :name => "city", class: "styledSelect"}
                %option All Cities
                = render "partials/project_filters", :type => :city
          .keyword.dropdown{style: ""}
            %label{style: "margin-top: 0;"} KEYWORD SEARCH
            %input{:style => "display: block; float: left; margin: 0; margin-bottom: 25px;", :type => 'text', :id => 'keyword', :name => "keyword", :placeholder => "Keyword...",
              :value => params[:keyword]}
              %button.btn.btns{:type => "submit", style: "display: block; margin-top: 5px;"}
                ►

:javascript
  $(function(){
    $("#category, #location").on("change", function(){
      $(".project-all-content").html("");
      $(".loader").fadeIn("fast");
      var category = $("#category :selected").attr("data-item")
      $.ajax({
        url: "/pages/search_category_or_location",
        data: {
          "category": category,
          "city": $("#location").val()
        }
      }).done(function(data) {
        $(".loader").fadeOut("fast");
      });
    });
  });
