.copyright
  .container
    %p
      &copy;
      = Date.today.strftime('%Y')
      TechBridge.
      %span.italic
        All Rights Reserved.
        = link_to 'http://www.uruut.com', style: "margin-right: 75px; font-size: 10px; text-decoration: none; color:#403e37; display:block; margin-bottom: 3px;" do
      Powered by
      = image_tag 'filepicker-logo.png', style: "width: 60px;"
