%footer
  .container
    .row-fluid
      
      %ul
        %li
          %h5 Find Projects
        %li
        %li
          %h5 Get Funding
        %li
          how it works
        %li
          create your project

      %ul
        %li
          %h5 About URUUT
        %li
          about us
        %li
          how it works
        %li
          our team
        %li
          partnerships

      %ul 
        %li
          %a{:href => "", "data-toggle" => "modal", "data-target" => "#contact"}Contact Us
        %li
          %a{:href => "", "data-toggle" => "modal", "data-target" => "#myMap"}Map
        %li
          %a{:href => "http://hashfire.uservoice.com/knowledgebase"}Help
        %li 
          = link_to "Terms", pages_terms_url
        %li
          %a{:href => "#"} Privacy Policy

      %ul
        %li
          %h5 Find Us On
        %li
          FB TW

.copyright
  .container  
    .row-fluid
      %p.span3
        &copy 2012 URUUT.com
