%footer
  .container
    %ul.span2
      %li
        %h6 Fund Projects
      %li
      %li
        %h6 Get Funding
      %li
        %p Overview
      %li
        %p Create Your Project
    
    %ul.span2
      %li
        %h6 About URUUT
      %li
        %p Something
      %li
        %p Get Funding
      %li
        %p Overview
      %li
        %p Create Your Project
    
    %ul.span2
      %li
        %h6 Fund Projects
      %li
        %h6 Get Funding
      %li
        %h6 Overview
      %li
        %h6 Create Your Project
    
    %ul.span2
      %li
        %h6 Fund Projects
      %li
      %li
        %h6 Get Funding
      %li
        %p Overview
      %li
        %p Create Your Project