.copyright
  .container
    %p
      &copy;
      = Date.today.strftime('%Y')
      TechBridge.
      %span.italic
        All Rights Reserved.
      = link_to 'http://www.uruut.com', style: "margin-left: 100px; font-size: 10px; text-decoration: none; color:#403e37; display:block; margin-bottom: 5px;" do
        Powered by
        = image_tag 'filepicker-logo.png', style: "width: 60px;"
