%footer.row-fluid
  .container
    .row-fluid
      
      .span3= image_tag "logo-name-white.png", :style => "width:105px;margin-top:10px;"

      %nav.span6
        %a{:href => "", "data-toggle" => "modal", "data-target" => "#contact"}Contact Us
        %a{:href => "", "data-toggle" => "modal", "data-target" => "#myMap"}Map
        %a{:href => "http://hashfire.uservoice.com/knowledgebase"}Help
        %a{:href => "#"} Terms of Use
        %a{:href => "#"} Privacy Policy

      %p.span3{:style => "text-align:right;"}
        &copy; 2012 URUUT.com
