#contact.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :style => "display:none"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Contact Us
  .modal-body
    /<iframe src ="http://uruut.desk.com/customer/emails/new" width="500" height="450" border="0" scrolling="no"></iframe>
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
