- Project.live.order(type).unique_values_of(type).compact.each do |item|
  - if item == params[type]
    %option{:selected => true, "data-item" => item }= item
  - else
    %option{"data-item" => item.split(" ").join(" ")}= item
