.span5
	.simplepage-img
		= image_tag "missing-page.png"
.span7
	.simplepage-wrapper
		%h3.label-green
			404 Page Not Found
		%h2
			Oops. Something went wrong.
		%p
			We couldn't find the page you were looking for. You may have mistyped the address or the page may have moved.

		%a.btn.green-btn.big-btn{:href => "#"}
			Return Home
			%span