.span5
	.simplepage-img
		= image_tag "maintenance.png"
.span7
	.simplepage-wrapper
		%h3.label-green
			We're Working on it.
		%h2
			This page is under maintenance.
		%p
			Check back soon. We will have it back up in a jiffy.

		%a.btn.green-btn.big-btn{:href => "#"}
			Return Home
			%span