- if user_signed_in? && !current_user.membership.nil?
  %p
    Your
    %b Uruut #{membership_title(current_user)}
    #{membership_cost_message_start(current_user)}
    %b #{membership_cost(current_user)}
    #{membership_cost_message_end(current_user)}
- else
  %p
    None selected yet