.well.without-title{style: "margin-top: 75px;"}
  %h6.label-green{style: "margin-bottom: 7px;"} ORDER SUMMARY
  %p{style: "margin-bottom: 40px;line-height: 16pt;"}
    %b Plan: 
    Uruut Basic Subscription
    %br
    %b Price: 
    $99 / mo
    %br
    %b Amount to be charged today: 
    $99.00
    %br
    %i Upgrade or cancel online, anytime.
  %br