%div
  %h2.title.document-room DOCUMENT ROOM
  .project-funder.well{:style => "padding-left: 5%"}
    .row
      .span6.pull-left
        = label_tag "document", "UPLOAD A NEW DOCUMENT", class: "label-green"
        = link_to "UPLOAD A DOCUMENT ►", "javascript:void(0)", :class => "btn", :id => "project-submit", :style => "border-radius: 5px;"
      .span6.pull-left
        %span Note:
        You should upload any and all applicable documents including, schedules, receipts, plans, blueprints, etc. Acceptable file types include .doc, .pdf, .ppt, .txt and .xls
    %hr
    = label_tag "current_document", "CURRENT DOCUMENTS", class: "label-green"
