%div
  %h2.title.project-founder ALL PROJECT FUNDERS
  .project-funder.well
    - if @all
      .all-founder
        = render "all_founder"

    - else
      .category-founder
        = render "category_founder"
