%div
  %h3.tittle MY PROJECT COVER PHOTO
  .image-cover-content{:style => "float:left; width:100%"}
    %div
      .cover-content
        .cover-content-image
          = filepicker_image_tag @project.large_image, width: 672, height: 300, fit: 'scale' if @project.large_image
        %button{:id => "project-submit", type: "filepicker"} CHANGE

  %h3.tittle MY PROJECT PHOTO GALLERY
  .images-content{:style => "float:left; width:100%"}
    #galleryPicture.clearfix
      - @galleries.each do |image|
        .list-image.pull-left
          = filepicker_image_tag image.gallery_file_name, width: 216, height: 216, fit: 'scale'
          = link_to "delete photo", delete_photo_path(image.id), class: "image-delete-button",  method: 'DELETE', remote: true
      .clearfix
    = paginate @galleries, remote: true
    %div{:style => "float:left; width: 100%"}
      %button{:id => "new-photo", type: "filepicker"} ADD NEW PHOTO



%script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
:javascript
  var deleteImages = function (){
    $('.image-delete-button').click(function(){
      $(this).parent().remove();
    });
  }
  deleteImages();

  var cover = document.getElementById('project-submit');
  cover.type="filepicker";
  cover.onchange = function(e){
    var largeImage = e.fpfile.url;
    $.ajax({
      url: '/projects/save_image',
      method: 'POST',
      data: {
        large_image: largeImage
        }
    }).done(function(){
      $('.cover-content-image').html("<img src='"+largeImage+"/convert?fit=scale&height=300&width=672'>");
    });
  };
  filepicker.constructWidget(cover);

  var photo = document.getElementById('new-photo');
  photo.type="filepicker";
  photo.onchange = function(e){
    var pictureImage = e.fpfile.url;

    $.ajax({
      url: '/galleries/save_image',
      method: 'POST',
      data: {
        gallery: pictureImage
        },
      success: function(data){
        $('#galleryPicture').append("<div class='list-image pull-left' style='width: 30%; margin-left: 2%; margin-top: 2%'><img src=" + pictureImage + "/convert?fit=scale&height=216&width=216><a href='/galleries/delete_photo/" + data.image_id + "' class='green-font image-delete-button' data-method='DELETE' style='margin-left:20px' data-remote='true'>delete photo</p></div></div></div>");
        deleteImages();
      }
    });
  };
  filepicker.constructWidget(photo);

