%div
  %h2.title MY PROJECT COVER PHOTO
  .image-cover-content.well{:style => "float:left"}
    %div.pull-left
      .cover-content
        .cover-content-image
          = filepicker_image_tag @project.large_image, width: 672, height: 300, fit: 'scale'
        %button{:id => "project-submit"} CHANGE

  %h2.title MY PROJECT PHOTO GALLERY
  .images-content.well{:style => "float:left"}
    #galleryPicture
      - @project.galleries.each do |image|
        .list-image.pull-left{:style => "width: 30%; margin-left: 2%; margin-top: 2%" }
          = filepicker_image_tag image.gallery_file_name, width: 216, height: 216, fit: 'scale'
          = link_to "delete photo", gallery_path(image.id), class: "green-font", style: "margin-left:20px", method: 'DELETE'
    %div{:style => "float:left; width: 100%"}
      %button{:id => "new-photo"} ADD NEW PHOTO



%script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
:javascript
  $('.delete_photo').click(function(){
    $('#seed_image').hide();
  });

  var cover = document.getElementById('project-submit');
  cover.type="filepicker";
  cover.onchange = function(e){
    var largeImage = e.fpfile.url;
    $.ajax({
      url: '/projects/save_image',
      method: 'POST',
      data: {
        large_image: largeImage
        }
    }).done(function(){
      console.log("finished");
      $('.cover-content-image').html("<img src='"+largeImage+"/convert?fit=scale&height=300&width=672'>");
    });
  };
  filepicker.constructWidget(cover);

  var photo = document.getElementById('new-photo');
  photo.type="filepicker";
  photo.onchange = function(e){
    var pictureImage = event.fpfile.url;

    $.ajax({
      url: '/galleries/save_image',
      method: 'POST',
      data: {
        gallery: pictureImage
        },
      success: function(data){
        console.log(data);
        $('#galleryPicture').append("<div class='list-image pull-left' style='width: 30%; margin-left: 2%; margin-top: 2%'><img src=" + pictureImage + "/convert?fit=scale&height=216&width=216><a href='/galleries/" + data.image_id + " class='green-font' data-method='DELETE' style='margin-left:20px'>delete photo</p></div></div></div>");
      }
    });
  };
  filepicker.constructWidget(photo);

  var updateImageSeed = function(event){
    var seedImage = event.fpfile.url;

    $.ajax({
      url: '/projects/update_image?status=seed_image',
      method: 'POST',
      data: {
        image: seedImage
        },
      success: function(data){
        $('#seed_image').remove();
        $('.delete_photo').show();
        $('.image_warp').append("<div class='image_wrap'><img src=" + seedImage + " id='seed_image' data-project-id="+ data.project_id +"></div>");
      }
    });
  }
  var updateGallery = function(event){
    console.log(event.fpfile.url);
    var pictureImage = event.fpfile.url;
    var pictureSize = event.fpfile.size;
    var pictureType = event.fpfile.type;

    $.ajax({
      url: '/galleries/save_image',
      method: 'POST',
      data: {
        gallery: pictureImage
        },
      success: function(data){
        console.log(data);
        $('#galleryPicture').append("<div class='span3' style='margin-left:0;'><div class='span9 float-none margin-auto'><img src=" + pictureImage + " class='img-polaroid' style='width:150px;height:120px;' ><br/><a href='/galleries/" + data.image_id + " class='green-font' data-method='DELETE' style='margin-left:20px'>delete photo</p></div></div></div>");
      }
    });
  }

  $(function() {
    $( "#pages" ).tabs();
    $( "#tabs, #subtabs").tabs();
    $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
    $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
  });

  function updateCutdown() {
    var remaining = 150 - jQuery('.headline').val().length;
    jQuery('.cutdown').text('(' + remaining + ' characters remaining.)');
  }

  updateCutdown();
  $('.headline').change(updateCutdown);
  $('.headline').keyup(updateCutdown);

