.container.overview-page
  .row-fluid
    .span8.pull-left
      %h2.title FUNDING TRACKER
      .well.info
        %p Lorem ipsum dolor amet
      %h2.title FUNDING BREAKDOWN BY DAY
      .well.info
        %p Lorem ipsum dolor amet
    .span4.pull-right
      %h2.title FUNDING SOURCES
      %div{:class => "well info"}
        %p Lorem ipsum dolor amet
