.container.overview-page
  .row-fluid
    .span8.pull-left
      %h2.title FUNDING TRACKER
      .well.info
        %p Lorem ipsum dolor amet
      %h2.title FUNDING BREAKDOWN BY DAY
      .well.info
        %table.table.table-striped
          %tr
            %th Date
            %th Total Funding For Day
            %th Individual Contributors
            %th Sponsors
          - @fundings.group_by{ |p| p.updated_at.to_date  }.each do |date, founders|
            - individual_count, sponsors_count, amount = 0, 0, 0
            - founders.each do |founder|
              - if founder.type_founder.eql?("individual")
                - individual_count += 1
                - amount = founder.amount.to_i
              - else
                - sponsors_count += 1
                - amount = founder.cost.to_i

            %tr
              %td= date.strftime("%m/%d/%Y")
              %td= amount
              %td= individual_count
              %td= sponsors_count
    .span4.pull-right
      %h2.title FUNDING SOURCES
      %div{:class => "well info"}
        %p Lorem ipsum dolor amet
