.container.messages-page
  .row-fluid
    .span3.pull-left
      %div{:style => "margin-top: 60px"}
      %div{:class => "well info"}
        %h3{:class => "menu-messages document active"}
          = link_to "DOCUMENT ROOM", project_admin_project_document_room_path(@project.id), remote: true
          .arrow
        %h3{:class => "menu-messages photos-videos"}
          = link_to "PHOTOS & VIDEOS", project_admin_project_photos_and_videos_path(@project.id), remote: true
        %h3{:class => "menu-messages communication"}
          = link_to "COMMUNICATION", project_admin_project_communication_zone_path(@project.id), remote: true
    .span9.pull-right.content-workroom
      = render "document_room"
