<% if @email_exists %>
var email = "<%= params[:email] %>";
if ( $(".add-email-error").size() < 1 )
{
  $(".form-add-email").append("<p class='add-email-error'>Email "+email+" is exists</p>");
}
else
{
  $(".add-email-error").html("Email "+email+" is exists");
}
<% else %>
$('#add-email').modal('hide');
$('.select-recepient').html("<%= escape_javascript( render :partial => 'new_email_options') %>");
<% end %>
