!= "$('.menu-messages').attr('style', '');"
!= "$('.cover').attr('style', 'background: #81C263');"

!= "$('.content-manage-project').html('#{escape_javascript( render :partial => 'manage_photos')}');"
