$('.menu-messages').removeClass('active');
$('.social-media').addClass('active').append("<div class='arrow'></div>").append('<div class="arrow"></div>');

$('.messages-content').html("<%=j render 'post_to_social_media' %>");
