!= "$('.menu-messages').attr('style', '');"
!= "$('.social-media').attr('style', 'background: #81C263');"

!= "$('.messages-content').html('#{escape_javascript( render :partial => 'post_to_social_media')}');"
