$(".admin-menu li").removeClass("active");
$(".founder").parent().addClass("active");

$(document).ajaxStop(function(){
  $("img").lazyload({
      effect: "fadeIn"
  });
});

$('.main-content').html("<%=j render :partial => 'founder' %>");

<% if params[:type].eql?("sponsor") %>
$(".founder-all").attr("style", "");
$(".menu-messages").removeClass('active');
$(".sponsor-type").addClass('active').append("<div class='arrow'></div>").append('<div class="arrow"></div>');
var header = "PROJECT SPONSORS";
<% elsif params[:type].eql?("individual") %>
$(".menu-messages").removeClass('active');
$(".individuals-type").addClass('active').append("<div class='arrow'></div>").append('<div class="arrow"></div>');
$(".founder-all").attr("style", "");
var header = "INDIVIDUAL CONTRIBUTORS";
<% end %>

<% if params[:type].blank?  %>
$(".menu-messages").removeClass('active');
$(".founder-all").addClass('active').append("<div class='arrow'></div>").append('<div class="arrow"></div>');
var header = "ALL PROJECT FUNDERS";
<% end %>

$(".project-founder").text(header);
