$('.menu-messages').removeClass('active');
$('.update').addClass('active').append("<div class='arrow'></div>").append('<div class="arrow"></div>');

$(".content-manage-project").html("<%=j render 'project_update' %>");
