$('.menu-messages').removeClass('active');
$('.visual').addClass('active').append("<div class='arrow'></div>").append('<div class="arrow"></div>');

$('.content-manage-project').html('<%=j render :partial => "visual" %>');
