.demo-requests
  .span8
    %h4.step_name SIGN UP (STEP 1 OF 2)
    = form_for @demo, url: demo_request_path , html: {class: "well"} do |f|
      - if @demo.errors.any?
        .error-box
          %ul
            - @demo.errors.full_messages.each do |error_message|
              %li= error_message
      = render partial: 'demo_request/step1', locals: { f: f }

  = render partial: 'demo_request/aside'
