.recent.clearfix
  .container
    %p.sections
      = image_tag 'featured-success-icon.png'
      Projects
    .project-all
      .loader{:style => "margin-left: 45%; font-weight: bold; font-size: 16px; display:none"}
        Loading..
        %br
        = image_tag "3.gif", style: "margin-left: 3%"
      = render "project", :projects => @projects
    .cf
    %div
      = paginate(@projects)
