.recent.clearfix
  .container
    %p.sections
      = image_tag "recent-project-icon.png"
      CURRENT PROJECTS

      = link_to "View All", "#", :class => 'view-all'
    .project-all
      .loader{:style => "margin-left: 45%; font-weight: bold; font-size: 16px; display:none"}
        Loading..
        %br
        = image_tag "3.gif", style: "margin-left: 3%"
      = render "project", :projects => @projects

//.ending-soon.clearfix
//  .container
//    %p.sections
//      = image_tag 'ending-soon-icon.png'
//      Projects Ending Soon

//      = link_to "View All", "#", :class => 'view-all'

//      = render "project", :projects => @ending

//.featured-success.clearfix
//  .container
//    %p.sections
//      = image_tag 'featured-success-icon.png'
//      Featured Success

//      = link_to "View All", "#", :class => 'view-all'

//    = render "project", :projects => @featured
