.recent.clearfix
  .container
    - unless @projects.empty?
      %p.sections
        CURRENT PROJECTS

        = link_to "View All", "#", :class => 'view-all'

      = render "project", :projects => @projects

    - unless @project_success.empty?
      %p.sections
        FEATURED SUCCESSES
      = render "project_success", :projects => @project_success