.recent.clearfix
  .container
    %p.sections
      = image_tag 'featured-success-icon.png'
      Projects
    .project-all
      = render "project", :projects => @projects
    .cf
    %div
      = paginate(@projects)
