%h2 About Us

%p So what us URUUT?  URUUT is about coming together as a community to make things happen.  Everyone has a community in which they belong and find important.

%p All too often projects that could benefit your community fail to become a reality due to lack of funding.  Well consider URUUT your lifeline to getting over this hurdle.

%p A vision for a park but no funding turn to URUUT to help you communicate and evangelize and manage your fundraising, want to see an after school community program become a reality, turn to URUUT, visions of a walking path from your neighborhood to a school, turn to URUUT.  The opportunities are endless.

%p URUUT is your partner to help grow your community.
