%section.full-width.our-story
  .container
    %h2 Our Story

    %p Since 2000, TechBridge has delivered technology and business expertise to nonprofits in order to drive community impact. TechBridge fundraises so that nonprofits pay less for these important services. However, some nonprofits cannot afford even these below-market rates.

    %p In order help more nonprofits get the technology tools they need to be more effective, TechBridge created the Nonprofit Xchange. It’s a simple model: Nonprofits can post tech projects they need funding for and funders (whether individuals, companies or foundations) can select projects to which they want to contribute. TechBridge works with your nonprofit to scope your project, figure out the cost and give it the TechBridge Seal of Approval.

    %p We have partnered with the Atlanta startup Uruut to create this new crowd-funding platform. We appreciate their partnership and their commitment to improving communities one project at a time.

%section.full-width.our-mission
  .container
    %h3 FAQs
    %div.half
      %h2 Why should I post my project on the Nonprofit Xchange versus other crowd-funding platforms?
      %p The Nonprofit Xchange is easy to use and there is no cost to post your project. We work with you to scope your project, tell your story and craft the impact your project will have on your organization, those you serve and the community. Posting your project on the Nonprofit Xchange also guarantees that your project makes sense, is appropriately budgeted and will be transformative for your organization—it’s the TechBridge Seal of Approval. TechBridge has worked exclusively for nonprofits for more than 13 years to provide technology tools, discount programs and additional resources..

      %p You will also benefit from joint marketing by TechBridge to widen the circle of those interested in your mission and your project. To date, TechBridge has successfully found funding for 25 technology projects via the Adopt-a-Nonprofit program. Our audience understands the value of technology and cares about building capacity for nonprofits.

    %div.half
      %h2 What happens if my project is not fully funded?
      %p If your project is not fully funded on the Nonprofit Xchange, your organization will have the option of making up the difference of the funds needed to begin your project.

      %p If your target is not met and your organization is not able to make up the difference in funding, your donors will not be charged for their pledges.

      %h2 How do I get in touch with someone to discuss my project?
      %p By clicking on the Get Started button on the Get Funding page, you will be taken to a form you must complete to begin the process of posting of your project on the Nonprofit Xchange. However, feel free to email 
      = link_to 'npx@techbridge.org.', 'mailto:npx@techbridge.org'
      %p to get in touch with the Nonprofit Xchange program manager who can talk with you about your needs.