%section.full-width.our-story
  .container
    %h2 Our Story

    %p Founded in 2000, TechBridge drives community impact by delivering technology and business expertise to nonprofits nationwide so that they may increase their capacity to serve.

    %p As the trusted technology guide for nonprofits, TechBridge creates the appropriate technology roadmap for each client, facilitates the identification and introduction to the right solutions providers at the right rates and ensures that technology projects are completed on budget. In some instances, TechBridge helps raise the requisite funds or identifies a corporate sponsor that “adopts” a particular nonprofit for the duration of a project. By adopting the nonprofit, that corporation provides funds and technical volunteers to that project.

    %p The TechBridge Nonprofit Exchange, a curated crowdfunding platform, is a natural evolution of the organization’s delivery model. The platform offers nonprofits a new funding mechanism for technology projects and facilitates corporations, foundations and individuals to support their preferred nonprofits in a way that enables these nonprofits to have an even greater impact on the community. Beyond the satisfaction that funders derive from supporting a crowdfunding campaign, corporations benefit from the public goodwill generated and the resulting employee engagement.

    %p Nonprofits can crowdfund for tech projects by launching campaigns on the platform, and funders (whether individuals, companies or foundations) can select projects they want to support by pledging funds to the respective campaigns. TechBridge conducts due diligence by working with each nonprofit to lay out the scope of the project and estimate project costs prior to the campaign going live. It also oversees the implementation of projects from funded campaigns. Funders enjoy the peace of mind that comes with knowing that their funds are used as intended and that project completion is guaranteed.

    %p TechBridge has partnered with Atlanta-based Uruut to create this new crowdfunding platform. We appreciate their partnership and their commitment to improving communities one project at a time.

%section.full-width.our-mission
  .container
    %h3 FAQs
    %div.half
      %h2 Why should I post my project on the Nonprofit Exchange versus other crowd-funding platforms?
      %p The Nonprofit Exchange represents a new funding source for nonprofit organizations. We work with you to scope your project, tell your story and craft the impact your project will have on your organization, and the community it serves. Posting your project on the Nonprofit Exchange also guarantees that the project aligns with your organization’s overarching technology roadmap. We work with you to ensure it is appropriately budgeted and if implemented will be impactful for your organization—it’s the TechBridge Guarantee.

      %p TechBridge has worked exclusively for nonprofits for more than 13 years to provide technology tools, discount programs and additional resources.

      %p You will also benefit from joint marketing by TechBridge to widen the circle of those interested in your mission and your project. To date, TechBridge has successfully found funding for more than 40 technology projects via the Adopt-a-Nonprofit program. Our network understands the value of technology and is committed to helping nonprofits build capacity.

      %h2 Is there a cost to post a project on the Nonprofit Exchange?
      %p There is an administrative platform fee of the larger of $500 or 5% of the total campaign goal. This fee can be rolled into the total campaign funding goal or can be paid separately by the nonprofit organization.

    %div.half
      %h2 What happens if my project is not fully funded?
      %p If your project is not fully funded on the Nonprofit Exchange, your organization will have the option of making up the difference of the funds needed to begin your project.

      %p If your target is not met and your organization is not able to make up the difference in funding, your donors will not be charged for their pledges.

      %h2 What happens if we raise more than the campaign goal?
      %p The Nonprofit Exchange allows campaigns to receive pledges over and above the stated campaign goal. Any additional funds that are collected will be put toward a pre-determined stretch goal project that is scoped at the time of the original project. This information is also clearly outlined in the campaign page to encourage more pledges.

      %h2 How do I get in touch with someone to discuss my project?
      %p First, click on the Get Started button on the Get Funding page to create an account. This will automatically generate a form. Please complete this form to begin the process of posting your project on the Nonprofit Exchange. However, feel free to email 
      = link_to 'exchange@techbridge.org.', 'mailto:exchange@techbridge.org'
      %p to get in touch with the Nonprofit Exchange program manager who can talk with you about your needs.