%section.full-width.our-story.gray-band{style: 'text-align: center;'}
  .container
    %h1 Choose the Plan That’s Right For You.

%section.full-width.our-story
  .container
    %h1 Integrate With Your Existing Website
    %p
      Take full advantage of the Uruut platform by seamlessly integrating it into your website.
      = link_to 'contact us', contact_pages_path
      for more information and a quote.
