%section.full-width.change-plan
  .container
    %header
      %h1 CHANGE YOUR SUBSCRIPTION.

    %p.green-subtitle WANT TO CHANGE YOUR SUBSCRIPTION PLAN?
    %p
      We know nonprofits needs are always changing, so we make it easy for you to change your subscription plan as that need arises.
    %br
    %p
      %b Choose your new subscription plan below:
    %br

    .row.text-center
      .span4.plan
        %h4 PAY PER TRANSACTION
        .price
          %h1
            5
            %sup %
          %p of money raised
          %br
        %h4 PACKAGE FEATURES
        %ul
          %li - Dedicated launch manager
          %li - Multi-donor fundraising platform
          %li - Unlimited campaign hosting
          %li - Funds released in 7 days, guaranteed
          %li - Upload photos, videos & stories
          %li - Automatic email thank you letters
          %li - Integrated social media sharing
          %li - Donation by credit cards and checks
          %li - Anonymous donations accepted
          %li - Donor perks and benefits engine
          %li - Transparency workroom
          %li - Campaign updated platform
          %li - Donor relationship management
          %li - Donor contact and giving reports
          %li - Campaign analytics and reporting
          %li - Social communication dashboard
          %li - Robust donor email platform
          %li - Easy donor data import / export
          %li - Personalized customer support
          %li
            %s - Convenient, predictable monthly cost
          %li
            %s - Fundraising resources & experts
          %li
            %s - No contracts. Cancel or upgrade anytime
          %li
            %s - “All or Nothing” AND Partial Funding
          %li
            %s - Automatically-generated tax receipts
          %li
            %s - Detailed Google Analytics reports
          %li
            %s - Advanced campaign transparency

      .span4.plan.plan-with-border
        %h4.font-bold Basic
        .price
          %h1
            %append $
            99
          %p per month
          %br
        %h4 PACKAGE FEATURES
        %ul
          %li - Dedicated launch manager
          %li - Multi-donor fundraising platform
          %li - Unlimited campaign hosting
          %li - Funds released in 7 days, guaranteed
          %li - Upload photos, videos & stories
          %li - Automatic email thank you letters
          %li - Integrated social media sharing
          %li - Donation by credit cards and checks
          %li - Anonymous donations accepted
          %li - Donor perks and benefits engine
          %li - Transparency workroom
          %li - Campaign updated platform
          %li - Donor relationship management
          %li - Donor contact and giving reports
          %li - Campaign analytics and reporting
          %li - Social communication dashboard
          %li - Robust donor email platform
          %li - Easy donor data import / export
          %li - Personalized customer support
          %li - Convenient, predictable monthly cost
          %li - Fundraising resources & experts
          %li - No contracts. Cancel or upgrade anytime
          %li
            %s - “All or Nothing” AND Partial Funding
          %li
            %s - Automatically-generated tax receipts
          %li
            %s - Detailed Google Analytics reports
          %li
            %s - Advanced campaign transparency
          %li
            %s - Offline Donation Entry

      .span4.plan
        %h4 Plus
        .price
          %h1
            %append $
            149
          %p per month
          %br
        %h4 PACKAGE FEATURES
        %ul
          %li - Dedicated launch manager
          %li - Multi-donor fundraising platform
          %li - Unlimited campaign hosting
          %li - Funds released in 7 days, guaranteed
          %li - Upload photos, videos & stories
          %li - Automatic email thank you letters
          %li - Integrated social media sharing
          %li - Donation by credit cards and checks
          %li - Anonymous donations accepted
          %li - Donor perks and benefits engine
          %li - Transparency workroom
          %li - Campaign updated platform
          %li - Donor relationship management
          %li - Donor contact and giving reports
          %li - Campaign analytics and reporting
          %li - Social communication dashboard
          %li - Robust donor email platform
          %li - Easy donor data import / export
          %li - Personalized customer support
          %li - Convenient, predictable monthly cost
          %li - Fundraising resources & experts
          %li - No contracts. Cancel or upgrade anytime
          %li - “All or Nothing” AND Partial Funding
          %li - Automatically-generated tax receipts
          %li - Detailed Google Analytics reports
          %li - Advanced campaign transparency
    %br
    .row.text-center
      = form_for 'user' do |f|
        = f.submit 'CONFIRM CHANGE ►', class: 'btn', style: 'font-weight: bold;'