.span4
  %dl.fixed
    %dt
      = link_to "THE BASICS", "#link1"
    %dt
      = link_to "PROJECT OWNERS", "#link2"
    %dt
      = link_to "INDIVIDUAL CONTRIBUTORS", "#link3"
    %dt
      = link_to "BUSINESS / FOUNDATIONS SPONSORS", "#link4"

.span8
  %h2.page-title Frequently Asked Questions
  %h5 URUUT is a Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  %hr
  %h2.anchor#link1 1. The Basics
  %h3 What is Uruut?
  %p Uruut is a funding platform for community projects. A park, school project, Eagle Scout project, a new trail, playground, neighborhood beautification are just a sampling of what you can fund on Uruut.  While there are other crowdfunding platforms out there, we are the only one that wakes up each day thinking and bettering your community.

  %p And unlike other crowdfunding platforms, Uruut doesn't only rely solely on individuals to make project dreams a reality.  We combine crowdfunding with business sponsorships and, in some cases, foundation matching.

  %p Why not?  The more groups involved, the greater chance for success!

  %h3 How does Uruut work?
  %p Each and every day there are community organizations with big and bold ideas.  Groups spend countless hours building their project page.  They spend weeks building their project pages, shooting their videos, and brainstorming what rewards to offer backers. When they're ready, project owners launch their project and share it with their community and extended communities.

  %p Every project owner sets their project's funding goal and deadline. The project is communicated to individuals, businesses and foundations.  If individuals like the project, they can pledge money to make it happen. If businesses like the project they can sponsor a project, and if foundations like a project they too can contribute to that project or match the contributions of others.

  %h3 Why is funding all-or-nothing?
  %p All-or-nothing funding is a core part of Uruut and it has a number of advantages:

  %p It's less risk for everyone. You can't build half a park.  If you need $5,000, you need $5,000.  Bottom line.

  %p It motivates. If people want to see a project come to life, they're going to spread the word.

  %p It works. Crowdfunding statistics show, of projects that reach 20% of their funding goal, 82% were successfully funded. Of the projects that have reached 60% of their funding goal, 98% were successfully funded. Projects either make their goal or find little support. There's rarely any in-between.

  %h3 Does Uruut screen projects before they launch?
  %p We do a review to check that the sponsoring organization is either a registered 501c3 or a qualified municipal and or member organization.  Uruut does not investigate whether the project owner has the ability to complete their project. Contributors (individuals, sponsors, foundations) ultimately decide the validity and worthiness of a project by whether they decide to fund it.

  %h3 Why do people contribute to projects?
  %p A lot of contributors are rallying around their friends' projects and/or projects that are meaningful to the community in which they care deeply about.  Businesses want to show their support for their community and foundations want to do what furthers the causes they support.

  %p Contributing to a project is more than just giving someone money or sponsoring a project, it's supporting and building their community, it's making the impossible, possible.

  %h3 Where do contributors come from?
  %p In most cases, the majority of funding initially comes from the fans and friends of each project. If they like it, they'll spread the word.  Support also comes from the businesses and foundations that support the cause.  Press, blogs, Twitter, Facebook, and Uruut itself are also big sources of traffic and pledges.

  %h3 Do backers get ownership or equity in the projects they fund?
  %p No. Uruut cannot be used to offer financial returns or equity, or to solicit loans.

  %h3 What are the fees?
  %p For the individual, if a project is successfully funded, Uruut applies a 6% fee to the funds collected.

  %p For the business/foundation sponsor, Uruut applies a 10% fee, which is collected at the time of submission.  The contribution (sponsor dollars minus fee) funds if the project is successfully funded.

  %p Contributions will be processed by Stripe. Payment processing fees work out to roughly 3%.

  %h3 Who is Uruut?
  %p We're a team of passionate business, technology, philanthropic individuals based in Atlanta, Georgia.  We care deeply about the communities we serve.

  %h2.anchor#link2 2. Project Owners
  %h3 What are project updates?
  %p "Project updates" refer to the stream of progress reports that become the project’s narrative or blog. Project owners use updates to keep their contributors, sponsors, and foundation partners informed on the development of the project, and every update is emailed directly to contributors, sponsors, and foundation partners. Some owners may post every day, others may do it more rarely, but it's the best way to keep contributors, sponsors and foundation partners informed of a project's progress, and it is a cornerstone of what makes Uruut unique.

  %p Creators are encouraged to include media in their updates, whether by embedding them or uploading directly (video files up to 250MB; images up to 10MB).  The media will show in the gallery section (tab) on the individual project page.

  %p Each post can be made publicly viewable to contributors, sponsors and foundation partners -only. Contributors, sponsors, and foundation partners-only updates allow you to communicate privately with your giving team as a group.

  %h3 Can a project be edited after launching?
  %p Yes, you can edit the following content after launching:
  %ul
    %li — Project description
    %li — Video and image
    %li — Your profile

  %p The things that cannot be edited after launch are:
  %ul
    %li — The funding goal
    %li — The project deadline
    %li — Your Uruut name
    %li — Perks (in the future perks may be able to be changed)

  %h3 What is my responsibility for answering questions from contributors, sponsors, and foundation partners and non-contributors, sponsors, and foundation partners?
  %p People will reach out during the course of the project with questions about your project. These may range from queries on delivery dates to specific technical questions. These inquiries should be answered promptly and, in cases where other contributor, sponsor, and foundation partners are asking the same information, publicly with a project update. Transparency is vital on Uruut.

  %h3 Can projects be edited after funding is completed?
  %p No. Every project is preserved as it ended. Project owners are encouraged to use project updates to add new information to the project's development.

  %h3 If I am unable to complete my project as promised, what should I do?
  %p If you realize that you will be unable to follow through on your project before funding has ended, you are expected to cancel it. If your project is successfully funded, you are required to fulfill all perks (to individuals) and refund all monies to the contributor, sponsor, or foundation partner.  A failure to do so could result in damage to your reputation or even legal action by your contributor, sponsor, and foundation partners.

  %p To avoid problems, don't over-promise when creating your project. If issues arise, communicate immediately, openly, and honestly with your contributors, sponsors, and foundation partners.

  %h3 What is my responsibility for answering questions from contributor, sponsor, and foundation partners and non-contributor, sponsor, and foundation partners?
  %p People will reach out during the course of the project with questions about your project. These may range from queries on delivery dates to specific technical questions. These inquiries should be answered promptly and, in cases where other contributor, sponsor, and foundation partners are asking the same information, publicly with a project update. Transparency is vital on Uruut.

  %h3 If my project is successfully funded, how do I receive my money?
  %p If funding succeeds, funds go directly from contributors, sponsors and foundation partners' credit cards to the project owner's Stripe account. There is a 7-day window for collecting and processing pledges. After that, you can transfer funds from your Stripe account to your bank account.

  %h3 Can I retry my project if funding is unsuccessful?
  %p Yes. You can always try again with a new goal, whenever you're ready. You’ll need to set your project up from scratch, but it can be essentially identical, if you choose.

  %h3 How can I communicate with my contributors, sponsors and foundation partners?
  %p Contributors, sponsors and foundation partners expect to connect with you through Uruut, so it's best to use our tools for sending updates, messages, and asking for information. Avoid asking people to signup for another service, as it's usually confusing and error-prone.

  %p You can use the transparency workroom tools specific to your project to:
  %ul
    %li — Post an update to let your contributors, sponsors and foundation partners know how the project is going. Your updates are like your project's blog.

    %li — Post videos, photos, budget updates, project updates as often as you can.  Remember that part of agreeing to use Uruut included updating post funding at least every two weeks.

  %h3 How can I get my contributors, sponsors and foundation partners' information (mailing address, T-shirt size, etc.) if I need to fulfill perks?
  %p Once your project is successfully funded, you can send emails requesting this information (mailing address or other details).

  %p Don’t worry about gathering your contributors, sponsors and foundation partners' info before then! If contributors, sponsors and foundation partners are curious, please let them know that you’ll follow up when you're ready to deliver their perks, if you chose to offer them.

  %p Please note: The contributor, sponsor and foundation report contains personal information about contributors, sponsors and foundation partners, and it is your responsibility to protect it. Do not share it with services or 3rd parties you do not trust. If you do use it with another service, like a shipping partner, make sure to read their Terms of Service and Privacy Policy.

  %h3 What happens if a credit card is declined?
  %p If a card is declined, an email is sent to the credit card owner every 48 hours with a link to fix the issue. The credit card owner has 7 days to correct the problem. If they do not correct the payment during that period, they are dropped as contributors, sponsors and foundation partners from the project and are no longer eligible to receive perks, if they were used. You can view the status of all your contributors, sponsors and foundation partners on your Backer Report.

  %h3 Are projects that were not successfully funded browsable on Uruut?
  %p Uruut doesn't have a browse area for projects whose funding was unsuccessful.  However, unsuccessfully funded projects are accessible through Uruut's search and the profile pages of the project's owner and contributors, sponsors and foundation partners. When users click on an owner's profile, they can see all of that owner's past projects — successfully and unsuccessfully funded.

  %p In terms of external search (Google, Bing, etc.), Uruut de-indexes projects whose funding was unsuccessful. This means that unsuccessfully funded projects don't show up in those search results.

  %h2.anchor#link3 3. Individual Contributors
  %h3 How do I contribute?
  %p To contribute to a project, just pick a contribution level or submit your own value on any project page. You will then go through the Stripe checkout process.

  %h3 When is my card charged?
  %p If the project you’re backing is successfully funded, your card will be charged when the project reaches its funding deadline. If the project does not reach its funding goal, your card is never charged. 

  %h3 Is my contribution amount publicly displayed?
  %p No. Only you and the project owner will be able to see your amount.

  %h3 If I make a contribution, what info does the project owner receive?
  %p Project owners see your Uruut name and your contribution amount (and the perk you've selected, if available). If funding succeeds, we'll also give the project owner your email address.

  %h3 What if I want to contribute anonymously?
  %p We don't currently have an anonymous contribution feature. You are free to choose any name you wish, though, so you could anonymize that way if you would like. Otherwise, we hope you're okay with showing your full name and support.

  %h3 Do I get notified if a project I'm contributing succeeds?
  %p We’ll send you an email when funding ends, no matter the outcome.

  %h3 What do I do if I have questions about a project?
  %p Ask the project owner! At the bottom of each project page there’s an “Ask a Question” button. This will send your question directly to the project owner.

  %p If you are already a contributor, and you would like to make your question public, you can post a comment on the project message board. The project owner will be notified by email when you do.

  %h3 How can I change my credit card details before funding ends?
  %p Visit the project page and click “Manage Your Contribution.” At the very bottom of the next page, click “Change Payment Method.”

  %h3 How can I change my contribution amount?
  %p Visit the project page and click “Manage Your contribution.” Enter a new amount in the contribution amount box. Note that you are not adding to your existing contribution; the amount you enter will be the total amount collected if the project is successfully funded.

  %h3 Who is responsible for fulfilling the promises of a project?
  %p It is the responsibility of the project owner to fulfill the promises of their project. Uruut reviews projects to ensure they do not violate the project guidelines, however Uruut does not investigate an owners ability to complete their project.

  %p Project owners are encouraged to share links to any websites that show work related to the project, or past projects. It's up to them to make the case for their project and their ability to complete it. Because projects are usually funded by the friends, fans, and communities around its project owner, there are powerful social forces that keep project owners accountable. 

  %p The web is an excellent resource for learning about someone’s prior experience. If someone has no demonstrable prior history of doing something like their project, or is unwilling to share information, contributors should consider that when weighing a contribution. If something sounds too good to be true, it very well may be.

  %h3 What happens when a project is overfunded?
  %p When a project is overfunded, contributors sometimes wonder: what happens with all that “extra” money? If a project owner has a funding goal of $5,000 and raises $25,000, what do they do with the $20,000 they didn’t ask for?

  %p What the project owner does in that case varies greatly depending on the project.

  %p Most of the time what seems like “extra” money isn’t extra at all. Ten times the funding often means ten times the contributors. More perks have to be produced and distributed, and project owners need that funding to do it (and sometimes some of their own money too).

  %p Sometimes, when a project is overfunded, it lets the project owner put that money back into the project to create something better for the contributors and themselves.  In other cases, it will go into a long-term operating budget or contingency fund to maintain and protect the project going forward.

  %h3 How do I know a project owner is who they claim they are?
  %p Perhaps you know the project of the project owner, or you heard about the project from a trusted source.

  %p The web is an invaluable resource for learning more about a person.

  %p At the end of the day, use your internet street smarts.

  %h3 Can people from outside the US contribute to projects?
  %p Yes! Anyone, anywhere (with a major card) can contribute to Uruut projects.

  %h3 Is my Contribution tax-deductible?
  %p In general, yes. Look for the TD mark for tax-deductible projects.

  %h3 Can I pay with a check? Send cash by mail?
  %p Uruut only supports credit card payments for individual contributions.

  %h3 Can I contribute with Paypal?
  %p We support most major credit cards, but we do not support payment with Paypal at this time.

  %h3 How do I share information about the project?
  %p Twitter, Facebook and email buttons on each project page, provide a significant opportunity to share the project.  Also, when you receive emails, there are opportunities to share project information through Twitter, and Facebook as well as forwarding the email.

  %h2.anchor#link4 4. Business/Foundations Sponsors
  %h3 How do I sponsor a project?
  %p To sponsor a project, just pick a sponsorship.  You will go through the Stripe checkout process.

  %p You will first be asked to submit some basic information a logo.
  
  %h3 Can I pay with a check? Send cash by mail? Wire?
  
  %p We prefer you pay with credit card but there are other options to select.

  %h3 When is my card charged?
  %p You are charged immediately for any fees associated with the sponsorship (10% plus approximately 3% processing fee).  Then, if the project you’re sponsoring is successfully funded, your card will be charged the sponsor amount when the project reaches its funding deadline. If the project does not reach its funding goal, your card is not be charged the sponsor amount, minus fees.
  %p Other arrangements will be made on non credit card payments.

  %h3 Why do you charge a fee upfront compared to the individual?
  %p Sponsors receive the benefit of marketing and PR associated with the project campaign.

  %h3 Is my contribution amount publicly displayed?
  %p No. Only the level sponsorship you selected.

  %h3 Do I get notified if a project I'm contributing to succeeds?
  %p We’ll send you an email when funding ends, no matter the outcome.

  %h3 Who is responsible for fulfilling the promises of a project?
  %p It is the responsibility of the project owner to fulfill the promises of their project. Uruut reviews projects to ensure they do not violate the project guidelines, however Uruut does not investigate an owners ability to complete their project.

  %h3 What if I chose to match a project vs becoming a sponsor up front?
  %p In some cases, we understand matching is the preferred method of contributing to a project.  

  %p In the story section of the project sign-up page, please include your match program and details.

  %p In this case go through the sponsor checkout process and chose wire and/or check payment.

  %p Someone from Uruut will contact you directly to discuss specifics at that point in time.

:javascript
  $(function() {
    $('.fixed dt a').click(function(e) {
      e.preventDefault();
      $('.fixed dt').removeClass('active');
      $(this).parent().addClass('active');
      var target = $(this).attr('href');
      $('html,body').animate({
        scrollTop: $(this.hash).offset().top
      }, 700);
    })
  })
