%section.full-width.description
	.container
		Section 1
%section.full-width.partner
	.container
		.marketing.float-left
			%h3 WHAT IS URUUT PARTNER-FUNDING?
			%h2 Funding projects by not only individual contributors, but business and corporate sponsors as well as corporate & family foundations.
		.pie-chart.float-right
			= image_tag "pie-chart.png"
%section.full-width.better
	.container
		Section 3
%section.full-width.transparency
	.container
		.float-left
			= image_tag "laptop.jpg"
		.marketing.float-left 
			%h3 ANOTHER BIG DIFFERENCE
			%h2 Accountability & Transparency.
			%p Other crowdfunding platforms don't think its important to show how funds are spent once a project funds. URUUT doesn't only think its important, we view it as an absolute necessity. As such we've built a robust transparency & accountability platform providing insight into post-funding budget and project status.
			%a.btn
				Learn More
				%span	
%section.full-width.who-should-use
	.container
		Section 5
%section.full-width.make-it-happen
	.container
		%h2 URUUT Partner-Funding. Make it happen.
		.btn 
			Sign Up Now
			%span