%h2.sections How it works

%ul
  %li 1). If you are an organization either a 501c3, local municipality or local business looking to raise money for a project submit your project (link to create project).

  %li 2). Once project is approved start marketing and communicating your project.  Don't know how or where to start? Don't worry we have services in place to help you.  Link to email address for more info.

  %li 3). As a contributor search (link to search) and find the community projects most meaningful to you.  Contribute and get cool stuff in return.  Perhaps even a tax donation as well.

  %li 4). An idea for a project but not a 501c3, municipality and/or local business?  Submit project ideas here (email link) and we will work to try and find the right organizational sponsor for your project.  In certain cases individuals will be allowed to submit projects (reviewed on a case by case basis).

  %li 5). How are we different than Kickstarter and other crowdfunding platforms?

%p Good question.  We are all about communities.  Our primary goal is to help you grow that community you find important.  Every day of our lives is spent thinking about what tools we can deliver to help you grow your community.

%p We also believe in providing total transparency between contributors and project sponsors.  Tools and services will constantly be introduced to bridge trust and create transparency.  Our transparency workroom is the epicenter of this effort.

%p Our transparency workroom provides a view into post project success as our view is our job doesn't stop once the project gets funded.

%p We also don't believe project sponsors should be left to figure out how to make a project successful.  As a result we offer and will continue to offer creative ways to help make projects become a reality.
