%div.row.span12.clearfix{:style => "display:block;margin:0 auto;"}
	%img{:src => "http://placehold.it/1170x500"}

/ %div.row
%div.span9.alpha{:style => "margin-top:50px;"}
	%div.span3.alpha
		%img{:src => "http://placehold.it/270x125" }
		%p{:style => "margin-top:10px;"}
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus feugiat sapien, sed commodo ante tincidunt eu. Nullam dictum aliquet viverra. Donec vestibulum augue non sem tincidunt molestie. Cras in odio id nibh hendrerit condimentum. Quisque tempus commodo massa a suscipit.
	%div.span3
		%img{:src => "http://placehold.it/270x125" }
		%p{:style => "margin-top:10px;"}
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus feugiat sapien, sed commodo ante tincidunt eu. Nullam dictum aliquet viverra. Donec vestibulum augue non sem tincidunt molestie. Cras in odio id nibh hendrerit condimentum. Quisque tempus commodo massa a suscipit.
	%div.span3
		%img{:src => "http://placehold.it/270x125" }
		%p{:style => "margin-top:10px;"}
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus feugiat sapien, sed commodo ante tincidunt eu. Nullam dictum aliquet viverra. Donec vestibulum augue non sem tincidunt molestie. Cras in odio id nibh hendrerit condimentum. Quisque tempus commodo massa a suscipit.
	%div.span3.alpha
		%img{:src => "http://placehold.it/270x125" }
		%p{:style => "margin-top:10px;"}
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus feugiat sapien, sed commodo ante tincidunt eu. Nullam dictum aliquet viverra. Donec vestibulum augue non sem tincidunt molestie. Cras in odio id nibh hendrerit condimentum. Quisque tempus commodo massa a suscipit.
	%div.span3
		%img{:src => "http://placehold.it/270x125" }
		%p{:style => "margin-top:10px;"}
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus feugiat sapien, sed commodo ante tincidunt eu. Nullam dictum aliquet viverra. Donec vestibulum augue non sem tincidunt molestie. Cras in odio id nibh hendrerit condimentum. Quisque tempus commodo massa a suscipit.
	%div.span3
		%img{:src => "http://placehold.it/270x125" }
		%p{:style => "margin-top:10px;"}
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus feugiat sapien, sed commodo ante tincidunt eu. Nullam dictum aliquet viverra. Donec vestibulum augue non sem tincidunt molestie. Cras in odio id nibh hendrerit condimentum. Quisque tempus commodo massa a suscipit.
%div.span3{:style => "margin-top:50px;"}
	%img{:src => "http://placehold.it/270x500" }