%section.full-width.landing-page
  %header
    .content
      %h1.green-title
        The Smartest Way To Run
        %br
        Your Nonproﬁt Has Arrived

      %h2
        Everything your nonproﬁt needs to reach more donors, and raise more funds.

      = link_to '#', class: 'arrow' do
        LEARN MORE
        = image_tag 'arrow.png'

      %hr

      %p
        Are you a donor? 
        = link_to 'Click Here ', '#'
        to view projects and make a donation.