= render "partials/banner_map"

= render "results"

.clearfix

  = javascript_include_tag "leaflet"
  = javascript_include_tag "tile.stamen"

:javascript
    $(function(){
        // var map = L.map('map').setView([33.7489, -84.3881], 11);
        // L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png').addTo(map);
        // L.marker([33.7489, -84.3881]).addTo(map).bindPopup('<h4>Welcome to URUUT</h4>').openPopup();
    });
