.span12
  %h1.page-title Terms of Service
  %p By signing up for the Uruut service (“Service”) or any of the services of Uruut Inc. (“Uruut”) you are agreeing to be bound by the following terms and conditions (“Terms of Service”). Any new features or tools which are added to the current Service shall be also subject to the Terms of Service. You can review the most current version of the Terms of Service at any time at here. Uruut reserves the right to update and change the Terms of Service by posting updates and changes to the Uruut website. You are advised to check the Terms of Service from time to time for any updates or changes that may impact you.

  %p.bold Summary of Service

  %p Uruut is a platform where certain users run campaigns to fund projects.  In addition certain tools are provided to help users accomplish their business and fund raising goals.  Through the Site, email, websites, and other media, the Service makes accessible various Content, including, but not limited to, videos, photographs, images, artwork, graphics, audio clips, comments, data, text, software, scripts, projects, other material and information, and associated trademarks and copyrightable works (collectively, “Content”).  Users, donors, sponsors, and other visitors to and users of the Service (collectively, “Users”) may have the ability to contribute, add, create, upload, submit, distribute, facilitate the distribution of, collect, post, or otherwise make accessible ("Submit") Content. “User Submissions” means any Content Submitted by Users.

  %h4 SECTION 1
  %h2 Account Terms
  %ol
    %li You must be 18 years or older to use this Service.
    %li You must provide your full legal name, current address, a valid email address, and any other information needed in order to complete the signup process.
    %li You are responsible for keeping your password secure. Uruut cannot and will not be liable for any loss or damage from your failure to maintain the security of your account and password.
    %li You may not use the Uruut service for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction.
    %li You are responsible for all activity and Content that is uploaded under your Uruut account.
    %li You must not transmit any worms or viruses or any code of a destructive nature.
    %li A breach or violation of any of the Account Terms as determined in the sole discretion of Uruut will result in an immediate termination of your services.


  %h4 SECTION 2
  %h2 General Conditions
  %p You must read, agree with and accept all of the terms and conditions contained in this User Agreement and the #{link_to 'privacy policy', privacy_pages_path} before you may become a member of Uruut.
  %ol
    %li Technical support is only provided to paying account holders and is only available via email.
    %li You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Uruut.
    %li You shall not purchase search engine or other pay per click keywords (such as Google AdWords), or domain names that use Uruut or Uruut trademarks and/or variations and misspellings thereof
    %li Questions about the Terms of Service should be sent to support at Uruut.com
    %li You understand that your Content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.  Credit Card information is always encrypted during transfer over networks as outlined by www.stripe.com our payment processor.

  %h4 SECTION 3
  %h2 Uruut Rights
  %ol
    %li We reserve the right to modify or terminate the Service for any reason, without notice at any time.
    %li We reserve the right to refuse service to anyone for any reason at any time.
    %li We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.
    %li Verbal or written abuse of any kind (including threats of abuse or retribution) of any Uruut customer, Uruut employee, member, or officer will result in immediate account termination.
    %li Uruut at their sole discretion may refuse or remove any Content that is available via the Service.

  %h4 SECTION 4
  %h2 Limitation of Liability
  %ol
    %li You expressly understand and agree that Uruut shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or inability to use the service.  This includes issues or losses pertaining from data security and privacy.
    %li In no event shall Uruut or our suppliers be liable for lost profits or any special, incidental or consequential damages arising out of or in connection with our site, our services or this agreement (however arising including negligence). You agree to indemnify and hold us and (as applicable) our parent, subsidiaries, affiliates, Uruut partners, officers, directors, agents, and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your breach of this Agreement or the documents it incorporates by reference, or your violation of any law or the rights of a third party.
    %li Your use of the Service is at your sole risk. The Service is provided on an ”as is“ and ”as available“ basis without any warranty or condition, express, implied or statutory.
    %li Uruut does not warrant that the service will be uninterrupted, timely, secure, or error-free.
    %li Uruut at times may contain hyperlinks and data provided from third parties other than Uruut.   Uruut does not warrant that the service and value provided by third parties will be uninterrupted, timely, secure or error free.
    %li Uruut does not warrant that the results that may be obtained from the use of the service will be accurate or reliable.
    %li Uruut does not warrant that the quality of any products, services, information, or other material purchased or obtained by you through the Service will meet your expectations, or that any errors in the Service will be corrected.
    %li Uruut from time to time partners with certain third parties to host, support, and store data and certain information.  Uruut is not liable for loss arising from issues pertaining to data breach, downtime or any other controlled or uncontrolled situation.

  %h4 SECTION 5
  %h2 Waiver and Complete Agreement
  %p The failure of Uruut to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Uruut and govern your use of the Service, superseding any prior agreements between you and Uruut (including, but not limited to, any prior versions of the Terms of Service).

  %h4 SECTION 6
  %h2 Intellectual Property and Customer Content
  %ol
    %li We do not claim any intellectual property rights over the material you provide to the Uruut service. All material you upload remains yours.
    %li By deleting your account. This will also remove all Content you have stored on the Service.
    %li By uploading images and item description Content to Uruut.com, you agree to allow other internet users to view them and you agree to allow Uruut to display and store them and you agree that Uruut can, at any time, review all the Content submitted by you to its Service.
    %li You retain ownership over all Content that you submit to a Uruut however, by making your Content public, you agree to allow others to view your Content.

  %h4 SECTION 7
  %h2 The Experts
  %ol
    %li The Experts is an online directory of independent third parties ("The Experts") that can help you utilize Uruut more effectively.  Uruut does not employ The Experts and is in no way affiliated with The Experts.  Included in The Experts are any third party resources that Uruut aligns with from time to time to provide third party support to users of the platform.
    %li Uruut does not endorse The Experts and takes no responsibility for any work performed by Experts or failure to fulfill a work order. Links to websites of The Experts, announcements about services or offers, and responses to email inquiries regarding The Experts, are provided solely for informational purposes at the discretion of Uruut and shall not be construed or imply permission, or an affiliation, position regarding any issue in controversy, authentication, appraisal, sponsorship, nor a recommendation or endorsement of any website, product, service, activity, business, organization, or person, and any offers, products, services, statements, opinions, Content or information on any linked third-party website.
    %li Under no circumstances shall Uruut be liable for any direct, indirect, incidental, special, consequential, exemplary or other damages whatsoever, including, without limitation, any direct, indirect, incidental, special, consequential, exemplary or other damages that result from any contractual relationship between you and The Experts. These limitations shall apply even if Uruut has been advised of the possibility of such damages. The foregoing limitations shall apply to the fullest extent permitted by law.

  %h4 SECTION 8
  %h2 Payment of Fees
  %ol
    %li A valid credit card is required for all accounts.
    %li We offer multiple #{link_to 'pricing options', choose_plan_pages_path} and these may change from time to time.
    %li In the case of transaction pricing charges will occur either at the completion of a project (all or nothing) or as charges are made (partial funding).
    %li In the case of monthly billing. The service will be billed in 30 day intervals.  If your credit card payment fails, we reserve the right to cancel your account immediately. Users have approximately two weeks to bring up and settle any issues with the billing.
    %li All fees are exclusive of all federal, provincial, state or other governmental sales, goods and services, harmonized or other taxes, fees or charges now in force or enacted in the future (“Taxes”).
    %li Uruut does not provide refunds.

  %h4 SECTION 9
  %h2 Cancellation and Termination
  %ol
    %li You may cancel your account at anytime by following the cancelation instructions in your profile section.
    %li Once your account is cancelled Uruut reserves the right to immediately delete Content from the Service. Since deletion of all data is final please be sure that you do in fact want to cancel your account before doing so.
    %li If you cancel the Service at any point within the month, one final payment will be charged. Once that final payment is made you will not be charged again.
    %li We reserve the right to modify or terminate the Uruut service for any reason, without notice at any time.
    %li Fraud: Without limiting any other remedies, Uruut may suspend or terminate your account if we suspect that you (by conviction, settlement, insurance or escrow investigation, or otherwise) have engaged in fraudulent activity in connection with the Site.

  %h4 SECTION 10
  %h2 Modifications to the Service and Prices
  %ol
    %li Prices for using Uruut are subject to change at any time.  Such notice may be provided at any time by posting the changes to the Uruut Site (uruut.com),
    %li Uruut reserves the right at any time to time to modify or discontinue, the Service (or any part thereof) with or without notice.
    %li Uruut shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.

  %h4 SECTION 11
  %h2 Optional Tools
  %ol
    %li Uruut may provide you with access to third party tools over which Uruut neither monitors nor has any control or input.
    %li You acknowledge and agree that Uruut provides access to such tools ‘as is’ without any warranties, representations or conditions of any kind and without any endorsement. Uruut shall have no liability whatsoever arising from or relating to your use of optional third party tools.
    %li Any use by you of optional tools offered through the site is entirely at your own risk and discretion and you should ensure that you are familiar with and approve the terms on which tools are provided by the relevant third party provider(s).

  %h4 SECTION 12
  %h2 DMCA Notice and Takedown Procedure
  %ol
    %li Uruut supports the protection of intellectual property and asks Uruut clients, users and partners to do the same. It our policy to respond to all notices of alleged copyright infringement.
    %li If someone believes that one of our users is infringing their intellectual property rights, they can send a DMCA Notice to Uruut’s designated agent.
    %li Upon receiving a DMCA Notice, we may remove or disable access to the material claimed to be a copyright infringement.
    %li Once provided with a notice of takedown, the user can reply with a counter notification using our form if they object to the complaint.
    %li Copyright infringement claims and notices should be sent to:

    %ul.address
      %li URUUT DMCA Agent
      %li Attention: Mark Feinberg
      %li PO Box 888237 Atlanta, Georgia 30356
      %li (678) 358-6275
      %li= link_to 'legal@uruut.com', 'mailto:legal@uruut.com'

