%h2 Project Category
%div
	= f.label :category
	%br
	= f.select :category, options_for_select([["Select One", ""], "Technology", "Infrastructure", "Parks", "Something1", "Something2"])
	= f.label :tags 
	%br
	= f.text_field :tags
