%h1 This is a test and holder for project creation landing page

.btn.create Create Project
:javascript
	$(function(){
		$('.btn.create').click(function(){
			$.ajax({
				type: 'POST',
				url: '#{projects_path}',
				data: ''
			}).done(function(data){
				console.log("Success???");
				console.log(data);
				window.location.href = '/projects/' + data + '/edit#sponsor-info';
			})
		})
	})