%tr
  %td{:style => "margin: 0;padding: 15px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width:100%;max-width:620px;"}
    Subject: #{@subject}
    %br
    %br

    Message: #{@message}
    %br
    %br

    Sender name: #{@name}
    %br
    %br