.circlegrey {
  background: #b6b6b4;
  .header {
    display:block;
    text-align:center;
    font:normal 22px/22px "Proxima Nova Semi";
    color:#fff;
    text-transform:uppercase;
    letter-spacing:5px; }
  .footer {
    display:block;
    text-align:center;
    font:normal 72px/72px "Proxima Nova Semi";
    color:#fff;
    text-transform:uppercase;
    margin-top:5px; }
}
