.list-image.pull-left
  = image_tag(document_thumbnail(@document.url, 216), style: "height: 222px; width: 222px")
  = link_to "delete", "javascript:void(0)", class: "image-delete-button", "data-href" => project_admin_document_path(@document.id)