 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.normal-font {
  font:normal 12px/18px 'Proxima Nova', arial, sans-serif;color:#403e37;
}

.green-font {
  color: #70bf4c !important;
}

label.message {
  color: red !important;
}

label {
  color: #000;
}

.margin-auto {
  margin: 0 auto !important;
}

.float-none {
  float: none !important;
}

.text-center {
  text-align: center !important;
}

.white-text {
  color: white !important;
}

.edit-text-field {
  border-radius: 5px 5px 5px 5px !important;
  box-shadow: none !important;
  font: 13px arial,helvetica,sans-serif !important;
  height: 34px !important;
  padding: 6px !important;
  width: 320px !important;
}

.normal-text-field {
  border-radius: 5px 5px 5px 5px !important;
  box-shadow: none !important;
  font: 13px arial,helvetica,sans-serif !important;
  height: 34px !important;
  padding: 6px !important;
  width: 320px !important;
  border: solid 1px #f5f5f5 !important;
  background-color: #f5f5f5 !important;
}

.edit-benefit {
  margin-top: -70px;
  cursor: pointer;
}

.add-another {
  cursor: pointer;
  font-size: 18px !important;
}

.stripe-connect.light-blue {
  background: #b5c3d8;
  background-image: -webkit-linear-gradient(#b5c3d8, #9cabc2);
  background-image: -moz-linear-gradient(#b5c3d8, #9cabc2);
  background-image: -ms-linear-gradient(#b5c3d8, #9cabc2);
  background-image: linear-gradient(#b5c3d8, #9cabc2);

  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.stripe-connect.light-blue span {
  color: #556F88;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);

  background: #f0f5fa;
  background-image: -webkit-linear-gradient(#f0f5fa, #e4ecf5 85%, #e7eef6);
  background-image: -moz-linear-gradient(#f0f5fa, #e4ecf5 85%, #e7eef6);
  background-image: -ms-linear-gradient(#f0f5fa, #e4ecf5 85%, #e7eef6);
  background-image: linear-gradient(#f0f5fa, #e4ecf5 85%, #e7eef6);

  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}

.stripe-connect.light-blue:active {
    background: #9babc2;
}

.stripe-connect.light-blue:active span {
  color: #556F88;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);

  background: #d7dee8;
  background-image: -webkit-linear-gradient(#d7dee8, #e7eef6);
  background-image: -moz-linear-gradient(#d7dee8, #e7eef6);
  background-image: -ms-linear-gradient(#d7dee8, #e7eef6);
  background-image: linear-gradient(#d7dee8, #e7eef6);

  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
}

#large_image .coverphoto2 {
  top: 200px !important;
  left: 34px !important;
  position: relative !important;
  top: 480px !important;
}
