// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color:#333;
  font:normal 13px/19px 'Georgia', georgia, serif;
  margin:0;
  padding:100px 0 0;}

h1,h2,h3,h4,h5,h6 {
  color:#464646;
  font-family:'Lato', sans-serif;
  font-weight:300;}

input[type=text], input[type=email], input[type=password] {
  border-radius: 0;
  height: 28px;
  line-height: 18px;
  font-size: 13px;
  padding: 5px 7px;}

input[type=submit] {
  background:#689d00;
  border:none;
  box-shadow:1px 1px 1px rgba(0,0,0,.28);
  color:#fff;
  font:300 13px/17px 'Lato', sans-serif;
  padding:5px 8px;}

textarea {
  border-radius:0;
  font-size:13px;
  padding:5px 7px;}

.pages.home {
  background:url(image-path('bg_01.jpg')) no-repeat center center fixed;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0;}

.pages.home #main .container {
  height:100%;}

.signup-container {
  background:transparent url(image-path('grid.png')) top left repeat;
  bottom:0;
  display:inline-block;
  left:30%;
  padding:30px 20px 50px;
  position:absolute;
  label {
    display:block;
    margin-bottom:5px;}
  input[type=text], input[type=email], input[type=password] {
    border-radius: 0;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    padding: 4px 7px;
    width:250px;}
  input[type=submit] {
    margin-bottom:20px;
    margin-left:209px;}
  h3 {
    border-bottom:1px dotted #464646;
    font-size:20px;
    font-weight:300;
    margin-bottom:20px;
    padding-bottom:10px;
    text-transform:uppercase;}
  a {
    color:#689d00;
    margin-bottom:5px;
    text-decoration:none;}}

#signup ul.sign-up {
  margin:0;
  padding:0;
  li {
    display:inline-block;
    width:49%;
    %h3 {
      font-weight:300 !important;}}}

#signup h3 {
  font-weight:300 !important;}

header {
	.container {
		width:960px !important;}
	h1.logo {
		background: transparent url(image-path('logo.png'))top left no-repeat;
		float:left;
    height:41px;
		left:0px;
    margin-left:10px;
    margin-top:8px;
		position:relative;
		width:87px; 
		a {
			display:inline-block;
			height:90px;
      text-decoration:none;
			text-indent:-9999px;
			width:310px;}}} 

h2.sections {
  border-bottom:1px solid #D5D6D9;
  color:#242424;
  font-size:28px;
  font-weight:300;
  margin-bottom:30px;
  padding-bottom:15px;
  text-transform:uppercase;}

footer {
  background:#423f38;
  padding:35px 0 40px;
	p.span3 {
    margin-top:15px;}
  ul.pages li a {
    font:normal 12px/12px "Proxima Nova", arial, sans-serif;
    letter-spacing:1px;
    text-transform:uppercase;}
  ul {
    float:left;
    margin-left:0;
    width:160px;
    li {
      color:#fff;
      font-size:11px;
      line-height:19px;
      list-style-type:none;
      h5 {
        color:#fff;
        font:normal 12px/19px 'Proxima Nova',arial, sans-serifi !important;
        font-style:none;
        letter-spacing:1px;
        margin:0;
        text-transform:uppercase;
        -webkit-font-smoothing: subpixel-antialiased;
        a {
          color:#fff;
          font:normal 12px/19px 'Proxima Nova', arial, sans-serifi !important;
          font-style:none;
          letter-spacing:2px;
          margin:0;
          text-transform:uppercase;
          -webkit-font-smoothing: subpixel-antialiased;}}
      a {
        font:normal 10px/12px 'Georgia', georgia, serif;
        color:#fff;
        font-style:italic;
        -webkit-font-smoothing: subpixel-antialiased;
        &:hover {
          color:#fff;
          text-decoration:none;}}}}
  nav {
    margin-top:15px;
    text-align:center;
		a {
      border-right:1px solid #D5D6D9;
      color:#464646;
			padding:0 10px;
      text-decoration:none;
      &:last-child {
        border:none;}
      &:hover {
        text-decoration:underline;}}}}

.copyright {
  background:#53544b;
  color:#fff;
  line-height:45px;}

#myModal.modal {
	display:none; }

ul.nav {
  color:#242424;
	li {
    padding:0 10px;
		position:relative;
		a {
			color:#464646 !important;
      font-family:'Lato', sans-serif;
      font-size:11px;
			line-height:13px !important;
      padding:0 !important;
      text-decoration:none;
			text-shadow:0 0 0 !important;
      text-transform:uppercase;
      &:hover {
        color:#242424 !important;
        text-decoration:underline;}}
		img {
      margin:-6px 0 0 5px;
			vertical-align:middle;}}}


div.dropdown {
  color:#fff !important;
  display:none;
  position:absolute;
  right:0;
  width:300px;
  z-index:100;
  div{
    background:#2c2c2c;
    color:#fff;
    padding:20px;
    h5 {
      border-bottom:1px solid #ccc;
      color:#fff;
      font-weight:400;
      text-transform:uppercase;}
    &:first-child {
      left:0;
      position:absolute;
      top:0;
      width:150px;}
    &:nth-child(2) {
      left:150px;
      position:absolute;
      top:0;
      width:150px; }
    ul {
      margin-left:0;
      padding-left:0;
      li {
        color:#fff;
        line-height:25px;
        list-style-type:none;
        margin:0;
        padding:0;
        a{
          color:#fff !important;
          font-size:11px;
          text-transform:capitalize}}}}}

    
.img-circle {
  vertical-align:middle !important;}

.left {
  display:block;
  float:none;
  margin:0 auto 0;
  text-align:center;
  width:100%;
  li {
    border-left:1px solid #55554d;
    font:normal 12px/12px 'Proxima Nova', sans-serif;
    display:inline-block;
    letter-spacing:2px;
    line-height:60px;    
    list-style-type:none;
    padding:0 32px 0 9px;
    a {
      color:#fff;
      font-size:11px;
      text-transform:uppercase;
      &:hover{
        text-decoration:none;}}}}

.right {
  display:block;
  font-size:11px;
  margin:0 auto;
  text-align:right;
  width:100%;
  li {
    border-right:1px solid #242424;
    font:normal 12px/12px 'Proxima Nova', sans-serif;
    display:inline-block;
    list-style-type:none;
    -webkit-font-smoothing: subpixel-antialiased;
    img {
      margin:-6px 0 0 5px;
			vertical-align:middle;}
    &:last-child {
      border:none;}
    &:nth-child(2){
      border:none;}
    a {
      color:#fff;
      letter-spacing:2px;
      line-height:60px !important;
      text-transform:uppercase;
      -webkit-font-smoothing: subpixel-antialiased;
      &:hover {
        text-decoration:none}}
    a.sign-up-link {
      color:#83c140;}
    span.or {
      color:#fff;
      font-family:"Georgia", georgia, serif;
      font-style:italic;
      margin:0 5px;}}
  li.signed-in {
    border:none;}
  input[type=search]{
    border-radius: 0;
    font-family:'Lato', sans-serif;
    font-size:11px;
    line-height: 18px;
    margin-left:5px;
    margin-top:-7px;
    position:relative;
    text-transform:uppercase;}}

nav.navbar-inner {
	background:#b0b0b0;
	border-radius:0 !important;
	box-shadow:0 0 0 0 !important;
	height:45px; }

.slider {
  ul {
    li {
      display:block;
      margin-bottom:10px;}}}

.project {
  box-shadow: 0 4px 6px rgba(50,50,50,0.2);
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  width:280px;
  height:350px;
  float:left;
  margin:0 20px 20px;
  overflow:hidden;
  position:relative;
  p.category {
    background:#689d00;
    color:#fff;
    font:300 11px/11px 'Lato', sans-serif;
    left:0;
    padding:5px 15px;
    position:absolute;
    text-transform:uppercase;
    top:104px;}
  h4 {
    a{
      color:#689d00;
      font-family: 'Lato', sans-serif;
      font-size:15px;
      font-weight:400;
      line-height:28px;
      text-transform:uppercase;
      &:hover {
        color:#486b02;
        text-decoration:none;}}}
  .location {
    padding:10px;
    width:260px;}
  .location span {
    float:left;
    font-family: 'Lato', sans-serif;
    font-size:10px;
    font-style:normal;
    font-weight:400;
    text-transform:uppercase;} 
  .location img {
    float:left;
    margin-left:5px;}
  hr {
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #f3f3f3;
    margin:0;
    padding:0;}}

.marker {
  float:right;
  margin:2px 0 0 2px;}

.project-image {
  width:100% !important;
  height:125px !important;}

.cont-desc {
  height:80px;
  text-overflow:ellipsis;
  overflow:hidden;
  padding:10px;
  width:260px;
  h4 {
    width:260px;
    word-wrap:break-word;
    text-transform:capitalize;
    margin:0 0 5px;}
  p.short-description{
    text-overflow:ellipsis;
    overflow:hidden;
    width:260px;}}

.funding {
  background:#f2f2f2;
  height:auto;
  padding:10px;
  position:relative;
  width:260px;
  hr {
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #f3f3f3;
    left:0;
    margin:0;
    padding:0;
    position:absolute;
    width:280px;} 
  span {
    font-family:'Georgia', serif;
    font-size:11px;}
  ul {
    margin:0; 
    padding:0;
    li {
      display:inline-block;
      list-style-type:none;}
    li.funded {
      border-right:1px solid #e6e6e6;
      font-family:'Lato', serif;
      font-size:17px;
      font-style:italic;
      margin-top:5px;
      padding:0 0 5px 0;
      width:170px;
      p {
        margin:0;}}
    li.days-left {
      border-left:1px solid #f8f8f8;
      font-family:'Lato', serif;
      font-size:17px;
      font-style:italic;
      margin-left:-4px;
      margin-top:-5px;
      padding:0 0 5px 10px;
      width:70px;
      p {
        display:block}}}
  h5 {
    font-family: 'Lato', sans-serif;
    font-size:10px;
    font-style:normal;
    font-weight:400;
    margin:0;
    text-transform:uppercase;}}

div[class*='progressbar']{
  border-radius:0;
  height:10px !important;
  margin-bottom:10px;}

h5.time-left {
  display:inline-block;}

p.days {
  display:inline-block;
  margin-bottom:0;}

.discover div.project {
  margin-top:0;}

.discover div.project:nth-child(3n) {
  margin-right:0 !important;}

.recent, .ending-soon, .featured-success {
  margin-bottom:40px;}

.recent div.project:nth-child(4), .ending-soon div.project:nth-child(4) {
  margin-right:0 !important;}

.redactor_box {
  height:350px;
  max-width:570px;
  width:570px;
  .redactor_editor {
    height:285px;
    max-height:285px;
    overflow-y:scroll;}}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  margin:0 auto;
  width:960px !important;}

#steps li span:before {
  content:'' !important;}

.navbar {
  background:url(image-path('header-back.png')) top left repeat;
  height:60px;}
