// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('proximanova-regular-webfont.eot');
  src: font-url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('proximanova-regular-webfont.woff') format('woff'),
  font-url('proximanova-regular-webfont.ttf') format('truetype'),
  font-url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: font-url('proximanova-bold-webfont.eot');
  src: font-url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('proximanova-bold-webfont.woff') format('woff'),
  font-url('proximanova-bold-webfont.ttf') format('truetype'),
  font-url('proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'Proxima Nova Semi';
  src: font-url('proximanova-semibold-webfont.eot');
  src: font-url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('proximanova-semibold-webfont.woff') format('woff'),
  font-url('proximanova-semibold-webfont.ttf') format('truetype'),
  font-url('proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'Rubrik medium';
  src: font-url('rubrik-medium-webfont.eot');
  src: font-url('rubrik-medium-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('rubrik-medium-webfont.woff') format('woff'),
  font-url('rubrik-medium-webfont.ttf') format('truetype'),
  font-url('rubrik-medium-webfont.svg#rubrik_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
  *zoom: 1;
 }

body {
  color:#3f403b;
  font:normal 13px/19px 'Georgia', georgia, serif;
  margin:0;
  padding:100px 0 0;}

h1,h2,h3,h4,h5,h6 {
  color:#464646;
  font-family:'Proxima Nova', sans-serif;
  font-weight:300;
  text-transform:uppercase;}

input[type=text], input[type=email], input[type=password] {
  border-radius: 0;
  height: 28px;
  line-height: 18px;
  font-size: 13px;
  padding: 5px 7px;}

input[type=submit] {
  background:#689d00;
  border:none;
  box-shadow:1px 1px 1px rgba(0,0,0,.28);
  color:#fff;
  font:300 13px/17px 'Proxima Nova', sans-serif;
  padding:5px 8px;}

textarea {
  border-radius:0;
  font-size:13px;
  padding:5px 7px;}

.pages.home {
  background:url(image-path('bg_01.jpg')) no-repeat center center fixed;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0;}

.pages.home #main .container {
  height:100%;}

.signup-container {
  background:transparent url(image-path('grid.png')) top left repeat;
  bottom:0;
  display:inline-block;
  left:30%;
  padding:30px 20px 50px;
  position:absolute;
  label {
    display:block;
    margin-bottom:5px;}
  input[type=text], input[type=email], input[type=password] {
    border-radius: 0;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    padding: 4px 7px;
    width:250px;}
  input[type=submit] {
    margin-bottom:20px;
    margin-left:209px;}
  h3 {
    border-bottom:1px dotted #464646;
    font-size:20px;
    font-weight:300;
    margin-bottom:20px;
    padding-bottom:10px;
    text-transform:uppercase;}
  a {
    color:#689d00;
    margin-bottom:5px;
    text-decoration:none;}}

#signup ul.sign-up {
  margin:0;
  padding:0;
  li {
    display:inline-block;
    width:49%;
    %h3 {
      font-weight:300 !important;}}}

#signup h3 {
  font-weight:300 !important;}

header {
	.container {
		width:960px !important;}
	h1.logo {
		background: transparent url(image-path('logo.png'))top left no-repeat;
		float:left;
    height:41px;
		left:0px;
    margin-left:10px;
    margin-top:8px;
		position:relative;
		width:87px; 
		a {
			display:inline-block;
			height:40px;
      text-decoration:none;
			text-indent:-9999px;
			width:87px;}}} 

p.sections {
  border-bottom:5px solid #48c94c;
  color:#3f403b;
  font:normal 18px/18px "Proxima Nova", arial, sans-serif;
  letter-spacing:1px;
  margin-bottom:30px;
  padding-bottom:5px;
  text-transform:uppercase;}

footer {
  background:#423f38;
  padding:35px 0 40px;
	p.span3 {
    margin-top:15px;}
  ul.pages li a {
    font:normal 12px/12px "Proxima Nova", arial, sans-serif;
    letter-spacing:1px;
    text-transform:uppercase;}
  ul {
    float:left;
    margin-left:0;
    width:160px;
    li {
      color:#fff;
      font-size:11px;
      line-height:19px;
      list-style-type:none;
      h5 {
        color:#fff;
        font:normal 12px/19px 'Proxima Nova',arial, sans-serifi !important;
        font-style:none;
        letter-spacing:1px;
        margin:0;
        text-transform:uppercase;
        -webkit-font-smoothing: subpixel-antialiased;
        a {
          color:#fff;
          font:normal 12px/19px 'Proxima Nova', arial, sans-serifi !important;
          font-style:none;
          letter-spacing:2px;
          margin:0;
          text-transform:uppercase;
          -webkit-font-smoothing: subpixel-antialiased;}}
      a {
        font:normal 10px/12px 'Georgia', georgia, serif;
        color:#fff;
        font-style:italic;
        -webkit-font-smoothing: subpixel-antialiased;
        &:hover {
          color:#fff;
          text-decoration:none;}}}}
  nav {
    margin-top:15px;
    text-align:center;
		a {
      border-right:1px solid #D5D6D9;
      color:#464646;
			padding:0 10px;
      text-decoration:none;
      &:last-child {
        border:none;}
      &:hover {
        text-decoration:underline;}}}}

.copyright {
  background:#53544b;
  color:#fff;
  line-height:45px;}

#myModal.modal {
	display:none; }

ul.nav {
  color:#242424;
	li {
    padding:0 10px;
		position:relative;
		a {
			color:#464646 !important;
      font-family:'Proxima Nova', sans-serif;
      font-size:11px;
			line-height:13px !important;
      padding:0 !important;
      text-decoration:none;
			text-shadow:0 0 0 !important;
      text-transform:uppercase;
      &:hover {
        color:#242424 !important;
        text-decoration:underline;}}
		img {
      margin:-6px 0 0 5px;
			vertical-align:middle;}}}


div.dropdown {
  color:#fff !important;
  display:none;
  position:absolute;
  right:0;
  width:300px;
  z-index:100;
  div{
    background:#2c2c2c;
    color:#fff;
    padding:20px;
    h5 {
      border-bottom:1px solid #ccc;
      color:#fff;
      font-weight:400;
      text-transform:uppercase;}
    &:first-child {
      left:0;
      position:absolute;
      top:0;
      width:150px;}
    &:nth-child(2) {
      left:150px;
      position:absolute;
      top:0;
      width:150px; }
    ul {
      margin-left:0;
      padding-left:0;
      li {
        color:#fff;
        line-height:25px;
        list-style-type:none;
        margin:0;
        padding:0;
        a{
          color:#fff !important;
          font-size:11px;
          text-transform:capitalize}}}}}

    
.img-circle {
  vertical-align:middle !important;}

.left {
  display:block;
  float:none;
  margin:0 auto 0;
  text-align:center;
  width:100%;
  li {
    border-left:1px solid #55554d;
    font:normal 12px/12px 'Proxima Nova', sans-serif;
    display:inline-block;
    letter-spacing:2px;
    line-height:60px;    
    list-style-type:none;
    padding:0 32px 0 9px;
    a {
      color:#fff;
      font-size:11px;
      text-transform:uppercase;
      -webkit-font-smoothing: subpixel-antialiased;
      &:hover{
        text-decoration:none;}}}}

.right {
  display:block;
  font-size:11px;
  margin:0 auto;
  text-align:right;
  width:100%;
  li {
    border-right:1px solid #242424;
    font:normal 12px/12px 'Proxima Nova', sans-serif;
    display:inline-block;
    list-style-type:none;
    -webkit-font-smoothing: subpixel-antialiased;
    img {
      margin:-6px 0 0 5px;
			vertical-align:middle;}
    &:last-child {
      border:none;}
    &:nth-child(2){
      border:none;}
    a {
      color:#fff;
      font-size:11px;
      letter-spacing:2px;
      line-height:60px !important;
      text-transform:uppercase;
      -webkit-font-smoothing: subpixel-antialiased;
      &:hover {
        text-decoration:none}}
    a.sign-up-link {
      color:#83c140;}
    span.or {
      color:#fff;
      font-family:"Georgia", georgia, serif;
      font-style:italic;
      margin:0 5px;}}
  li.signed-in {
    border:none;}
  input[type=search]{
    border-radius: 0;
    font-family:'Proxima Nova', sans-serif;
    font-size:11px;
    line-height: 18px;
    margin-left:5px;
    margin-top:-7px;
    position:relative;
    text-transform:uppercase;}}

nav.navbar-inner {
	background:#b0b0b0;
	border-radius:0 !important;
	box-shadow:0 0 0 0 !important;
	height:45px; }

.slider {
  ul {
    li {
      display:block;
      margin-bottom:10px;}}}

.project {
  border:1px solid #e9e9e9;
  width:280px;
  height:350px;
  float:left;
  margin:0 20px 20px;
  overflow:hidden;
  position:relative;
  p.category {
    background:#689d00;
    color:#fff;
    font:300 11px/11px 'Proxima Nova', sans-serif;
    left:0;
    letter-spacing:2px;
    padding:5px 15px;
    position:absolute;
    text-transform:uppercase;
    top:104px;}
  h4 {
    height:38px;
    overflow:hidden;
    a{
      color:#689d00;
      font-family: 'Proxima Nova', sans-serif;
      font-size:15px;
      font-weight:400;
      line-height:normal;
      text-transform:uppercase;
      &:hover {
        color:#486b02;
        text-decoration:none;}}}
  .location {
    padding:10px;
    width:260px;}
  .location span {
    float:left;
    font-family: "Georgia", georgia, serif;
    font-size:11px;
    font-style:normal;
    font-weight:normal;}
  .location img {
    float:left;
    margin-left:5px;}
  hr {
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #f3f3f3;
    margin:0;
    padding:0;}}

.marker {
  float:right;
  margin:2px 0 0 2px;}

.project-image {
  width:100% !important;
  height:125px !important;}

.cont-desc {
  height:80px;
  text-overflow:ellipsis;
  overflow:hidden;
  padding:10px;
  width:260px;
  h4 {
    width:260px;
    word-wrap:break-word;
    text-transform:capitalize;
    margin:0 0 5px;}
  p.short-description{
    text-overflow:ellipsis;
    overflow:hidden;
    width:260px;}}

.funding {
  background:#f8f8f8;
  height:auto;
  padding:10px;
  position:relative;
  width:260px;
  hr {
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #f3f3f3;
    left:0;
    margin:0;
    padding:0;
    position:absolute;
    width:280px;} 
  span {
    font-family:'Georgia', serif;
    font-size:11px;}
  ul {
    margin:0; 
    padding:0;
    li {
      display:inline-block;
      list-style-type:none;}
    li.funded {
      border-right:1px solid #e6e6e6;
      font-family:'Proxima Nova', serif;
      font-size:17px;
      font-style:italic;
      padding:8px 0 5px 0;
      width:170px;
      p {
        margin:0;}}
    li.days-left {
      border-left:1px solid #f8f8f8;
      font-family:'Proxima Nova', serif;
      font-size:17px;
      font-style:italic;
      margin-top:-5px;
      padding:0 0 5px 10px;
      width:70px;
      p {
        display:block}}}
  h5 {
    font-family: 'Proxima Nova', sans-serif;
    font-size:10px;
    font-style:normal;
    font-weight:400;
    margin:0;
    text-transform:uppercase;}}

div[class*='progressbar']{
  border-radius:0;
  background:#413f37;
  height:100% !important;
  margin-bottom:10px;}

.index div[class*='progressbar']{
  border-radius:0;
  background:#413f37;
  height:10px !important;
  margin-bottom:10px;}

h5.time-left {
  display:inline-block;}

p.days {
  display:inline-block;
  margin-bottom:0;}

.discover div.project {
  margin-top:0;}

.discover div.project:nth-child(3n) {
  margin-right:0 !important;}

.recent, .ending-soon, .featured-success {
  margin-bottom:40px;}

.recent div.project:nth-child(4), .ending-soon div.project:nth-child(4) {
  margin-right:0 !important;}

.redactor_box {
  height:350px;
  max-width:570px;
  width:570px;
  .redactor_editor {
    height:285px;
    max-height:285px;
    overflow-y:scroll;}}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  margin:0 auto;
  width:960px !important;}

#steps li span:before {
  content:'' !important;}

.navbar {
  background:url(image-path('header-back.png')) top left repeat;
  height:60px;}

.projects.edit, .projects.new { 
  input[type=text], textarea {
    margin-bottom:25px;}
  label {
    font:bold 12px/12px "Proxima Nova", arial, sans-serif;
    text-transform:uppercase;}
  .btn{
    background:none;
    background:#413e37;
    box-shadow:none;
    border-radius:0;
    color:#fff;
    font:bold 11px/11px "Proxima Nova", arial, sans-serif;
    letter-spacing:2px;
    padding:8px 20px;
    text-shadow:none;
    text-transform:uppercase;}}

#project_goal, input[id*='amount'] {
  background:#fff url(image-path('dollars.png')) top left no-repeat;
  padding-left:15px;}

textarea[id*='perk'] {
  height:220px;
  width:310px;}

.perk-container {
  position:relative;}

.perk {
  position:relative;}

.remove {
  color:#413E37;
  font:bold 12px/12px "Proxima Nova", arial, sans-serif;
  letter-spacing:2px;
  position:absolute;
  right:40px;
  text-transform:uppercase;
  top:0;
  &:hover {
    color:#413e37;}}

.add-perk {
  bottom:0;
  left:0;
  position:absolute;}

div[id^='step'] {
  position:relative;}

#project-submit {
  background:#423F38;
  border-radius:0;
  display:block;
  font:bold 16px/16px "Proxima Nova Semi", arial, sans-serif; 
  margin:20px auto 0;
  padding:15px 24px;
  text-shadow:none;
  text-transform:uppercase;
  &:hover {
    background:#eee;}}

#large_image {
  background:url(image-path('classroom.png')) top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:545px;
  left:0;
  overflow:hidden;
  position:absolute;
  top:0;
  width:100%;
  .funding-info {
    background:rgba(72,201,76, 0.95);
    bottom:0;
    height:125px;
    left:0;
    padding:20px 0;
    position:absolute;
    width:100%;}}

.show-content {
  margin-top:495px;}

.projects.show {
  h4.title {
    border-bottom:5px solid #48c94c;
    font-size:17px;
    font-weight:normal;
    letter-spacing:2px;
    padding-bottom:10px;
    text-transform:uppercase;
    span {
      font:normal 11px/11px "Georgia", georgia, serif;
      font-style:italic;
      text-transform:none;}}
  hr {
    background:#b6b6b4;
    border:none;
    height:1px;
    margin:40px 0;}
  .funding-info {
    h4.title {
      border:none;
      color:#fff !important;
      font: normal 18px/18px "Proxima Nova", arial, sans-serif;
      letter-spacing:2px;
      margin:0 0 3px;
      padding:0;
      text-transform:uppercase;}
    span.location {
      font: bold 12px/12px "Proxima Nova Semi", arial, sans-serif;
      text-transform:uppercase;}
    hr {
      margin:8px 0;
      background: #3f403b;
      padding: 0;
      border: none;
      height: 1px;}
    p.short-desc {
      font:normal 12px/15px "Georgia", georgia, serif;
      font-style:italic;
      height:30px;
      margin-bottom:10px;
      overflow:hidden;
      &:after {
        content:'...';}}
    .btn {
      background:none;
      background:#3f403b;
      border:none;
      border-radius:0;
      box-shadow:none;
      color:#fff;
      font:normal 13px/13px "Proxima Nova", arial, sans-serif;
      letter-spacing:2px;
      padding:10px 25px;
      text-shadow:none;
      text-transform:uppercase;}}}

.nav-tabs {
  border-bottom:5px solid #48c94c;
  margin-top:20px;
  h4 {
    color:#b6b6b4;
    letter-spacing:2px;
    text-transform:uppercase;
    span {
      font:italic 11px/11px "Georgia", georgia, serif;
      text-transform:none;}}
  li {
    padding:0 20px !important;
    a {
      background:none !important;
      border:none !important;
      text-decoration:none;
      &:hover {
        text-decoration:none !important;}}}
  li.active {
    background:#f8f8f8;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-radius: 10px 10px 0 0;
    margin-bottom:0;
    padding:0 20px;
    h4 {  
      color:#3f403b;}}}

#content_container {
  color:#b2b2b2 !important;
  font-family:arial, sans-serif;
  div {
    color:#b2b2b2 !important;
    display:none;
    h1,h2,h3,h4,h5,h6 {
      color:#b2b2b2 !important;
      font-family:arial, sans-serif;}}}

.fund.btn {
  img {
    margin-top:-2px;}}

.map-container {
  border:1px solid #e9e9e9;}

#map-details {
  background:#f8f8f8;
  border-top:1px solid #e9e9e9;
  padding:20px;
  .project-location {
    width:372px;
    h4 {
      color:#48c94c;
      font-weight:normal;
      letter-spacing:1px;
      margin:0;}}}

.fb-comments span {
  width:100% !important;
  iframe {
    width:100% !important;}}

.comments {  
  color:#b6b6b4;
  font-family:arial, sans-serif;
  p {
    padding:8px 0;}
  .comment {
    border-bottom: 5px solid #48c94c;
    letter-spacing:2px;
    line-height:100%;
    padding-bottom:10px;}}

ul.perks {
  margin:-10px 0 0;
  padding:0; 
  li {
    background:#f8f8f8;
    border-bottom:1px solid #e9e9e9;
    list-style-type:none;
    padding:20px;
    h3 {
      color:#70bf4c;
      font:bold 20px/20px "Proxima Nova Semi", arial, sans-serif;
      letter-spacing:2px;
      margin:0;}
    p.description {
      font-style:italic;
      height:42px;
      margin:5px 0;
      overflow:hidden;
      text-overflow:ellipsis;
      &:after {
        content:"...";}}
    ul {
      margin:0;
      padding:0;
      position:relative;
      li.fund-button {
        bottom:5px;
        position:absolute;
        right:0;}
      li {
        border:none;
        display:inline-block;
        list-style-type:none;
        padding:0;
        position:relative;
        .btn {
          background:none;
          background:#3f403b;
          border:none;
          border-radius:0;
          box-shadow:none;
          color:#fff;
          font:normal 13px/13px "Proxima Nova", arial, sans-serif;
          letter-spacing:2px;
          padding:10px 25px;
          position:relative;
          text-shadow:none;
          text-transform:uppercase;}
        h6 {
          font:bold 12px/12px "Proxima Nova Semi", arial, sans-serif;
          letter-spacing:2px;
          margin-bottom:3px;}
        p.amount {
          font:bold 24px/24px "Proxima Nova Semi", arial, sans-serif;
          margin-bottom:0;}}}}}

.planter {
  margin-top:18px;}

.projects.show .sidebar h4 {
  margin-top:50px;
  &:first-child {
    margin-top:10px;}}

#progressbar {
  background: url(image-path('pgbar-back.png'))top left repeat;
  border:1px solid #fff;
  height:28px !important;
  width:300px;}

.projects.show .seed {
  float:left;
  margin-left:70px;
  margin-right:7px;}

.progress-container {
  color:#fff;
  font:normal 11px/11px "Proxima Nova", arial, sans-serif;
  letter-spacing:1px;
  div {
    p {
      color:#413f37;
      display:block;
      font:normal 32px/32px "Proxima Nova Semi", arial, sans-serif;
      margin-top:5px;}}}

.ui-progressbar-value {
  background:#413f37;
  height:100% !important;}

.already-donated {
  font:normal 20px/20px "Proxima Nova Semi", arial, sans-serif;
  letter-spacing:1px;
  margin-bottom:5px;}

.edit {
  color:#fff;
  font:normal 11px/11px "Proxima Nova Semi", arial, sans-serif;
  letter-spacing:1px;
  &:hover {
    color:#fff;
    text-decoration:underline;}}
.user-name {
  font:normal 18px/18px "Proxima Nova Semi", arial, sans-serif;
  margin-bottom:2px;
  margin-top:0;}

.user-email {
  font-style:italic;}

.breadcrumbs {
	list-style-type: none;
  height: 40px;
  background: #ddd;
	li.active {
		background:#ccc;
		&:after {
			content: "";
	    width: 0;
	    height: 0;
	    border-top: 20px solid transparent;
	    border-left: 8px solid #ccc;
	    border-bottom: 20px solid transparent;
	    position: absolute;
	    right: -7px;
	    z-index: 10;}}
	li {
		float: left;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 0 0 12px;
    position: relative;
    min-width: 100px;
		text-align:center;
		&:after {
			content: "";
	    width: 0;
	    height: 0;
	    border-top: 20px solid transparent;
	    border-left: 8px solid #ddd;
	    border-bottom: 20px solid transparent;
	    position: absolute;
	    right: -7px;
	    z-index: 10;}
		&:before {
			content: "";
	    width: 0;
	    height: 0;
	    border-top: 20px solid transparent;
	    border-left: 8px solid #fff;
	    border-bottom: 20px solid transparent;
	    position: absolute;
	    right: -8px;
	    z-index: 10;}
		&:hover {
			background: #ccc;}
		&:hover:after {
			border-left: 8px solid #ccc;}
		a {
			color:#333;
			font: normal 15px/42px "Proxima Nova Semi", arial, sans-serif !important;
			letter-spacing:2px;
			text-transform:uppercase;}}}