// Place all the styles related to the sponsor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.selectParent {
  width:320px;
  height: 54px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: white 97%  no-repeat;
  background-image: url("/assets/select-back.png");
  background-position: right center;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  overflow: hidden;
}

.parentWide{
  width: 100%;
}

#project_sponsor_level_id{
  font:bold 24px/40px arial, helvetica, sans-serif;
  width: 360px;
  background: transparent;
  height: 54px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 12px 0px 12px 19px;
}

#sponsor_payment_type{
  font:bold 24px/40px arial, helvetica, sans-serif;
  width: 110%;
  background: transparent;
  height: 54px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 12px 0px 12px 19px;
}

.ccv{
  margin-left: 0 !important;
}
