// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#header h1 {
  background: transparent url(image-path('logo.png'))top left no-repeat;
  display: inline-block;
  height: 41px;
  margin-left: 50px;
  text-indent: -9999px;
  width: 30px;
}

.projects-container {
  width: 35% !important;

  h3 {
    font-size: 1.3em;
    line-height: 1.5em;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}