.menu-project{
  background: #95D60A;
  font-family: 'Proxima Nova Semi', sans-serif;
  width: 1024px;
  height: 40px;
  position: relative;
  margin: auto;
  margin-top: 115px;
  margin-left: -12px;
  display: block;

  .container ul{
    margin-top: 1%;

    li{
      float: left;
      margin-left: 3%;
      list-style: none;

      a{
        font-size: 17px;
        text-transform: uppercase;
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}



.messages-page{
  font-family: 'Proxima Nova Semi', sans-serif;

  .menu-messages a{
    font-size: 11px;
    color: #464646;
    text-decoration: none;
  }
}

.no-founder{
  color: #403E37 !important;
  font-weight: bold;
}
