// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
	.container {
		width:1170px !important;}
	h1.logo {
		background: transparent url(image-path('logo.png'))top left no-repeat;
		float:left;
    height:90px;
		left:0px;
		position:relative;
		width:310px; 
		a {
			display:inline-block;
			height:90px;
			text-indent:-9999px;
			width:310px;}}} 
		
h2 {
  border-bottom:1px solid #ccc;
  margin-bottom:30px;}

footer {
	nav {
		a {
			margin-right:10px;}}}

#myModal.modal {
	display:none; }

ul.nav {
  color:#242424;
	li {
    padding:0 10px;
		position:relative;
		a {
			color:#242424;
			line-height:19px !important;
      padding:0 !important;
			text-shadow:0 0 0 !important;}
		img {
			vertical-align:middle;	}
		div.dropdown {
			color:#fff;
      display:none;
			position:absolute;
			right:0;
			width:300px;
			div{
				background:#2c2c2c;
				color:#fff;
        padding:20px;
				h5 {
					border-bottom:1px solid #ccc;}
				&:first-child {
					left:0;
					position:absolute;
					top:0;
					width:150px;}
				&:nth-child(2) {
					left:150px;
					position:absolute;
					top:0;
					width:150px; }
				ul {
					margin-left:0;
					padding-left:0;
					li {
            color:#fff;
						line-height:45px;
						list-style-type:none;
            a{
              color:#fff;}}}}}}}

.img-circle {
  vertical-align:middle !important;}

.nav.left {
  float:left;
  margin-left:35px;
  top:45px;
  li {
    border-right:1px solid #242424;
    &:last-child {
      border:none;}}}

.nav.right {
  float:right;
  font-size:12px;
  top:49px;
  li {
    border-right:1px solid #242424;
    &:last-child {
      border:none;}
    &:nth-child(2){
      border:none;}
    a {
      line-height:15px !important;}}
  li.signed-in {
    border:none;}
  input[type=search]{
    margin-top:-8px;
    position:relative;}}

nav.navbar-inner {
	background:#b0b0b0;
	border-radius:0 !important;
	box-shadow:0 0 0 0 !important;
	height:45px; }

.slider {
  ul {
    li {
      display:block;
      margin-bottom:10px;}}}

.project {
  box-shadow: 0 4px 6px rgba(50,50,50,0.2);
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  width:280px;
  height:380px;
  float:left;
  margin:0 15px 20px 0;
  overflow:hidden;
  .location {
    padding:10px;
    width:260px;}
  .location span {
    float:left;
    text-transform:capitalize;} 
  .location img {
    float:left;
    margin-left:5px;}
  hr {
    border-top:1px solid #efefef;
    border-bottom:1px solid #fdfdfd;
    margin:0;
    padding:0;}}

.marker {
  float:right;}

.project-image {
  width:100% !important;
  height:125px !important;}

.cont-desc {
  height:110px;
  text-overflow:ellipsis;
  overflow:hidden;
  padding:10px;
  width:260px;
  h4 {
    width:260px;
    word-wrap:break-word;
    text-transform:capitalize;
    margin:0 0 5px;}
  p.short-description{
    text-overflow:ellipsis;
    overflow:hidden;
    width:260px;}}

.funding {
  background:#fcfcfc;
  height:64px;
  padding:10px;
  position:relative;
  width:260px;
  hr {
    border-top:1px solid #efefef;
    border-bottom:1px solid #fdfdfd;
    left:0;
    margin:0;
    padding:0;
    position:absolute;
    width:280px;} 
  ul {
    margin:15px 0 0; 
    li {
      display:inline-block;
      list-style-type:none;}
    li.funded {
      width:170px;
      p {
        margin:0;}}
    li.days-left {
      width:80px;}}
  h5 {
    margin:0;}}

div[class*='progressbar']{
  border-radius:0;
  height:10px !important;
  margin-bottom:10px;}

h5.time-left {
  display:inline-block;}

p.days {
  display:inline-block;
  margin-bottom:0;}

.discover div.project {
  margin-top:0;}

.discover div.project:nth-child(3n) {
  margin-right:0 !important;}

.recent, .ending-soon, .featured-success {
  margin-bottom:40px;}

.recent div.project:nth-child(4), .ending-soon div.project:nth-child(4) {
  margin-right:0 !important;}
