// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.nav {
	li {
		line-height:40px;
		position:relative;
		img {
			vertical-align:0px;	}
		div {
			display:none;
			position:absolute;
			width:300px;
			ul:first-child {
				background:#2C2C2C;
				left:0;
				position:absolute;
				top:0;
				width:150px;
				z-index:100;
				li {
					list-style-type:none;
					padding:0 10px;
					a{
						color:#fff;	}}}
			ul:nth-child(2) {
				background:#2C2C2C;
				left:150px;
				position:absolute;
				top:0;
				width:150px;
				z-index:100;
				li {
					list-style-type:none;
					padding:0 10px;
					a{
						color:#fff;	}}}}}}