// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.nav {
	li {
		line-height:40px;
		position:relative;
		img {
			vertical-align:0px;	}
		div.dropdown {
			display:none;
			position:absolute;
			width:300px;
			div{
				background:#2c2c2c;
				padding:20px;
				h5 {
					border-bottom:1px solid #ccc;}
				&:first-child {
					left:0;
					position:absolute;
					top:0;
					width:150px;}
				&:nth-child(2) {
					left:150px;
					position:absolute;
					top:0;
					width:150px; }
				ul {
					margin-left:0;
					padding-left:0;
					li {
						line-height:180%;
						list-style-type:none;}}}}}}