// Place all the styles related to the Project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
	float:left;
	clear:right;
	margin:20px;
	width:200px;
	padding:10px; }

#uvw-dialog-powered-by {
	display:none; }