$super-light-grey: #f5f5f5;
$light-grey: #b2b2b2;
$grey: #464646;
$green: #48c94c;
$green2: #70bf4c;
$light-green: #bee0b4;
$brown: #403e37;
$light-brown: #53544b;

@mixin cleared($clr: both){
  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }

  &:after{
    clear: $clr;
  }
}

@mixin text-shadow ($string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: $string;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition ($transition) {
  -webkit-transition: $transition;  
  -moz-transition:    $transition;
  -ms-transition:     $transition; 
  -o-transition:      $transition;  
}
@mixin transform($string){
  -webkit-transform: $string;
  -moz-transform:    $string;
  -ms-transform:     $string;
  -o-transform:      $string;
}
@mixin scale ($factor) {
  -webkit-transform: scale($factor);
  -moz-transform:    scale($factor);
  -ms-transform:     scale($factor);
  -o-transform:      scale($factor);
}
@mixin rotate ($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform:    rotate($deg);
  -ms-transform:     rotate($deg);
  -o-transform:      rotate($deg);
}
// ========================================= //
body{
  font-family: 'Proxima Nova', sans-serif;
}

.btn{
  font-family: 'Proxima Nova Semi', sans-serif;
  span{
    display: inline-block !important;
  }
}

p{

  &.subtext{
    font-family: 'Proxima Nova Semi', sans-serif;
  }

  a{
    color: $green2;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }
}

#large_image{
  position: relative;
  top: 0;
  display: block;
}

.projects{
  &.show{
    .show-content{
      margin-top: 20px;
    }
  }
}

.tooltip{

  &.top{
    .tooltip-arrow{
      border-top-color: #fff;
    }
  }
  .tooltip-inner{
    background-color: #fff;
    color: $green2;
    @include box-shadow(0 2px 2px rgba(0,0,0, 0.25));
  }
}

.platinum-level-container{
  padding: 20px 0;
  background: $light-brown;
  color: $light-grey;
  font-family: 'Proxima Nova', sans-serif;

  .sponsor-logo{
    float: left;
    height: 100px;
    width: 100px;
  }

  .sponsor-info{
    margin-left: 120px;
    padding-top: 20px;
    border-right: 1px solid $brown;
    padding-right: 10px;
    min-height: 90px;
  }

  h3{
    color: #fff;
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 3px;
  }

  h4, h5{
    color: $light-grey;
    margin: 0;
    margin-bottom: 10px;
  }

  a{
    color: $green2;
    font-style: italic;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }
}

img.cc-type{
  height: 20px;
  @include border-radius(2px);
}


.sidebar-tab{
  font-family: 'Proxima Nova', sans-serif;
}

.tab-nav{
  margin: 0 !important;
  border-bottom: 5px solid $green2;
  margin-top: 20px !important;
  @include cleared;

  li{
    width: auto;
    border: 1px solid transparent;
    padding: 0 !important;
    list-style: none;
    float: left;

    a{
      color: $light-grey !important;
      padding: 20px !important;
      line-height: 39px !important;
      font-family: 'Proxima Nova Semi', sans-serif;
      font-size: 12px;
      letter-spacing: 2px;
      text-decoration: none;
      text-shadow: 0 0 0 !important;
      text-transform: uppercase;

      &:hover{
        color: $green2 !important;
      }

      span{
        font-style: italic;
        text-transform: Capitalize;
      }
    }

    &.active{
      border: none !important;
      background: #f8f8f8 !important;
      border-top: 1px solid #eaeaea !important;
      border-right: 1px solid #eaeaea !important;
      border-left: 1px solid #eaeaea !important;
      border-radius: 10px 10px 0 0;
      margin-bottom: 0;
      cursor: pointer !important;

      span{
        display: inline;
      }

      a{
        color: $grey !important;
      }
    }
  }

}

h3, h4, h5{

  span.small-heading{
    color: $grey;
    display: inline;
    font-size: 12px;
    font-family: 'Proxima Nova Semi', sans-serif;
    letter-spacing: 0;
  }
}


.seed-level{
  background: $super-light-grey;
  border-bottom: 1px solid $light-grey;
  padding: 10px 20px 20px 20px;
  font-family: 'Proxima Nova', sans-serif;

  /*p{

    &.subtext{
      font-family: 'Proxima Nova Semi', sans-serif;
    }

    a{
      color: $green2;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }
    }*/

    &:hover, .active{
      background: $light-green;

      h3, h4, h5, .amount-percentage{
        color: $grey;
      }

      .description{
        color: $grey !important;
      }

      .btn{
       font-family: 'Proxima Nova Semi', arial, sans-serif;

       &:hover{
        background: $green2;
      }
    }
  }


  h3{
    margin: 0;
    margin-top: 10px;
    line-height: 20px;
  }

  h3, h4, h5{
    color: $green2;
  }

  .seed-num{
    float: left;
  }

  textarea, .textarea input[type="text"]{
    width: 100%;
    @include border-radius(0);
    @include box-shadow(none);
    resize: none;
    background: #fff url('dollar.png') no-repeat left center;
    padding-left: 40px;
    font-size: 36px;
  }

  .seed-num{
    font-family: 'Proxima Nova Semi', sans-serif;
    text-transform: uppercase;

    .amount{
      font-size: 20px;
    }

    .amount-percentage{
      font-size: 10px;
      font-style: italic;
      color: $light-grey;
    }

    & + .btn{
      margin-top: 12px;
    }
  }
}

.amount-percentage{
  font-size: 10px;
  font-style: italic;
  color: $light-grey;
}

.tab-pane{
  display: none !important;

  &.active{
    display: block !important;
  }
}

.project-sponsors{
  margin-bottom: 40px;

  h5{
    color: $green2;
    margin-bottom: 0;

    & + span{
      display: block;
      font-style: italic;
      color: lighten($grey, 20%);
      text-decoration: underline;
    }
  }

  a:hover{
    text-decoration: none;

    h5 + span{
      color: $grey;
    }
  }

  .gold-level, .silver-level{
    @include cleared;
    border-bottom: 1px solid $light-grey;

    .sponsor{
      display: block;
      float: left;
      width: 33%;
      text-align: center;
      border-right: 1px solid $light-grey;
      cursor: pointer;
      margin: 20px 0;

      h5{

        a, a:visited{
          color: $green2;
        }

        & + a, & + a:visited{
          font-size: 10px;
          line-height: 12px;
          color: $grey;
          font-style: italic;
        }
      }

      img{
        height: 100px;
        width: 100px;
      }

      &:last-child{
        border-right: none;
      }
    }
  }

  .silver-level{

    .sponsor{
      width: 19.5%;

      img{
        height: 60px;
        width: 60px;
      }

      h5{
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 5px;

        a, a:visited{
          color: $green2;
        }

        & + span{
          font-size: 10px;
          line-height: 12px;
        }

        & + a, & + a:visited{
          font-size: 10px;
          line-height: 12px;
          color: $grey;
          font-style: italic;
        }
      }
    }
  }

}

.tax-deductible{
  width: 20px;
  height: 20px;
}

.progress-container{
  margin-left: 80px;

  & > div{
    margin-left: 40px;
  }
}

.planter{
  @include cleared;

  img{
    float: left;
    height: 100px;
    width: 100px;

    & + h4{
     margin-top: 20px !important;
     margin-left: 110px;
     color: $green2;
   }
 }
}

.amount{
  input[type="text"]{
    width: 100%;
    @include border-radius(0);
    @include box-shadow(none);
    resize: none;
    background: #fff url('dollar.png') no-repeat left center;
    padding-left: 40px;
    font-size: 36px;
  }
}

.donations{

  footer{

    form{
      .btn{
        display: inline;
      }
    }
  }
}

.checkout-continue-subtext{
  border-top:1px solid #e9e9e9;
  padding:10px 20px;
  font-size:12px;
  font-family:'Proxima Nova';
  text-align:center;
  color: $light-grey;
  margin:0;
  background: url('dt-arrow-down.png') no-repeat 5% center;
}

.projects-created, .projects-funded{

  label{
    display: inline-block;
    width: 60px;
    color: $light-grey;
    letter-spacing: 0px;
  }

  input.selectbox{
    height: 40px;
    font-size: 16px;
    line-height: 18px;
  }

  .selectbox-wrapper{
    margin-left: 65px;

    ul, ul > li{
      font-size: 16px;
      line-height: 18px;
      width: 195px;
    }
  }
}

h1, h2, h3, h4{

  &.tittle{
    border-bottom: 6px solid $green2;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
}

.project-admin-panel{

  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  height: 30px;
  margin: 0;
  padding: 10px;
  text-align: center;
  background: $green2;
  text-transform: uppercase;
  @include text-shadow(0 2px 2px rgba(0,0,0, 0.25));

  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  
  &, a{
    color: #fff;
  }

  span{
    height: 20px;
    width: 20px;
    background: url('arrow.png') no-repeat center;
  }
}

.funded-details{
  float: left;
  text-align: left;
  margin-right: 10px;

  .header{
    font-family: 'Proxima Nova Semi', sans-serif;
    color: $grey;
    font-size: 8px;
    line-height: 10px;
    margin: 0;
    @include text-shadow(none);
  }

  .value{
    margin: 0;
    line-height: 15px;

    a{
      &:hover{
        text-decoration: none;
      }

      img{
        height: 12px;
      }
    }
  }

  &:last-child{
    margin-right: 0;
  }

  &.pull-right{
    float: right !important;
  }
}

.badge-wrapper{
  .profile-badge{
    width: 72px;
    height: 72px;
    border: 3px solid #fff;
    margin-right: 9px;

    &:hover{
      border-color: $green2;
    }

    &:nth-child(3n){
      margin-right: 0;
    }
  }
}

.cont-desc{
  h3{
    margin-bottom: 0;
  }
}

.banner{

  img.avatar{
    height: 100px;
    width: 100px;
  }

  .user-name-wrapper{
    float: left;
  }

  .bordered-left{
    border-left: 2px solid $grey;
    padding-left: 10px;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.well{
  &.info{
    /*font-family: 'Proxima Nova Semi', sans-serif;*/
    color: lighten($grey, 30%);
    font-size: 13px;
    line-height: 14px;

    h5{
      color: $green2;
      margin: 0;
      margin-bottom: 3px;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px;
    }

    .profile-img{
      height: 100px;
      width: 100px;
      margin-bottom: 10px;
    }
  }
}

.project-img{
  position: relative;

  .project-img-layer{
    display: none;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(112, 191, 76);
    /* RGBa with 0.6 opacity */
    background: rgba(112, 191, 76, 0.65);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);*/
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    color: #fff;
    vertical-align: middle;

    &.success{
      display: block;
    }

    &.plus-btn{
      height: 100px;
      padding: 25px 0;

      .btn{
        letter-spacing: 1px;
        @include border-radius(3px);
      }
    }

    h2, h3, h4{
      color: #fff;
    }
  }
}

.project-sponsors-link{
  a{
    color: $grey;
    font-style: italic;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }

    &:after{
      content: ',';
    }
  }
}

form {

  .name {
    width:100%;

    input[type=text] {
      width:100% !important;
      padding-left: 60px;
      background: #fff url('blank-ava.png') no-repeat left center;
    }
  }

  .email{
    width: 100%;

    input[type="text"], input[type="email"]{
      width: 100%;
      padding-left: 60px;
      background: #fff url('form-email.png') no-repeat left center;
    }
  }

  .phone{
    width: 50%;

    input[type="text"], input[type="number"]{
      width: 100%;
      padding-left: 60px;
      background: #fff url('form-phone2.png') no-repeat left center;
    }
  }

  .card-number {
    width:100%;

    input[type=text] {
      width:100% !important;
      padding-left: 60px;
      background: #fff url('credit-card.png') no-repeat left center;
    }
  }

  .ccv {
    display:inline-block;
    float:left;

    width:33%;

    input[type=text] {
      width:120px !important;
      padding-left: 60px;
      background: #fff url('sharp.png') no-repeat left center;
    }
  }

  .expiration {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:inline-block;
    float:left;
    padding-left:20px;
    width:66%;

    input[type=text]#card_month {
      display:inline-block;
      width:70px !important;
    }

    input[type=text]#card_year {
      display:inline-block;
      width:100px !important;
    }
  }

  .actions {

    p {
      float:left;
      width:50%;
    }

    button {
      float:right;
    }
  }
}

.pic-upload{
  margin-left: 120px;
  width: 220px;
  font-family: 'Proxima Nova', sans-serif;
  color: $light-grey;
  position: relative;

  .upload-btn{
    position: relative;
    text-align: center;
    background: $green2;
    margin-bottom: 10px;
    padding: 10px 0;
    @include border-radius(5px);

    &:hover{
      background: lighten($green2, 10%);
      
      .btn{
        color: #fff;
      }
    }

    .btn{
      background: transparent;
      display: block;
    }

    input[type="file"]{
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      height: 100%;
      cursor: pointer;
    }
  }
}

.label-green{
  color: $green2 !important;
}

ul.nav{

  &> li{
    &.active{

      &> a{
        background-color: transparent !important;
        color: $green2 !important;
      }
    }
  }
}

#project_goal, input[id*="amount"] {
  background: white url('dollar.png') top left no-repeat !important;
}

.link-short{
  padding: 9px 19px;
  width: 150px - 40px;
  height: 56px - 20px;
  border: 1px solid $light-grey;
  background: #fff;
  @include border-radius(3px);
  display: block;
  float: left;
}

.well-half{
  width: (600px / 2) - 20px;
}

