.btn span {
  display: inline-block !important;
}
.sidebar-tab {
  font-family: 'Proxima Nova', sans-serif;
}
.nav.nav-tabs.tab-nav {
  margin: 0 !important;
}
.nav.nav-tabs.tab-nav li {
  width: auto;
  border: 1px solid transparent;
  padding: 0 !important;
}
.nav.nav-tabs.tab-nav li a {
  color: #b2b2b2 !important;
  padding: 0 20px !important;
  line-height: 59px !important;
  font-family: 'Proxima Nova Semi', sans-serif;
}
.nav.nav-tabs.tab-nav li a:hover {
  color: #48c94c !important;
}
.nav.nav-tabs.tab-nav li a span {
  font-style: italic;
  text-transform: Capitalize;
}
.nav.nav-tabs.tab-nav li.active {
  border: none !important;
  background: #f8f8f8 !important;
  border-top: 1px solid #eaeaea !important;
  border-right: 1px solid #eaeaea !important;
  border-left: 1px solid #eaeaea !important;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
  cursor: pointer !important;
}
.nav.nav-tabs.tab-nav li.active span {
  display: inline;
}
.nav.nav-tabs.tab-nav li.active a {
  color: #464646 !important;
}
.seed-level {
  background: #f5f5f5;
  border-bottom: 1px solid #b2b2b2;
  padding: 10px 20px 20px 20px;
}
.seed-level h3 {
  color: #48c94c;
  margin: 0;
  margin-top: 10px;
  line-height: 20px;
}
.seed-level .seed-num {
  float: left;
}
.seed-level textarea {
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  background: #ffffff url('dollar.png') no-repeat left center;
  padding-left: 40px;
  font-size: 24px;
}
.seed-level .seed-num {
  font-family: 'Proxima Nova Semi', sans-serif;
  text-transform: uppercase;
}
.seed-level .seed-num .amount {
  font-size: 24px;
}
.project-sponsors {
  margin-bottom: 40px;
}
.project-sponsors h5 {
  color: #48c94c;
  margin-bottom: 0;
}
.project-sponsors h5  + span {
  display: block;
  font-style: italic;
  color: #797979;
  text-decoration: underline;
}
.project-sponsors a:hover {
  text-decoration: none;
}
.project-sponsors a:hover h5 + span {
  color: #464646;
}
.project-sponsors .gold-level,
.project-sponsors .silver-level {
  border-bottom: 1px solid #b2b2b2;
}
.project-sponsors .gold-level:before,
.project-sponsors .silver-level:before,
.project-sponsors .gold-level:after,
.project-sponsors .silver-level:after {
  display: table;
  content: "";
  line-height: 0;
}
.project-sponsors .gold-level:after,
.project-sponsors .silver-level:after {
  clear: both;
}
.project-sponsors .gold-level .sponsor,
.project-sponsors .silver-level .sponsor {
  display: block;
  float: left;
  width: 33%;
  text-align: center;
  border-right: 1px solid #b2b2b2;
  cursor: pointer;
  margin: 20px 0;
}
.project-sponsors .gold-level .sponsor img,
.project-sponsors .silver-level .sponsor img {
  height: 100px;
  width: 100px;
}
.project-sponsors .gold-level .sponsor:last-child,
.project-sponsors .silver-level .sponsor:last-child {
  border-right: none;
}
.project-sponsors .silver-level .sponsor {
  width: 19.5%;
}
.project-sponsors .silver-level .sponsor img {
  height: 60px;
  width: 60px;
}
.project-sponsors .silver-level .sponsor h5 {
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 5px;
}
.project-sponsors .silver-level .sponsor h5  + span {
  font-size: 10px;
  line-height: 12px;
}
