<!DOCTYPE html>
<html style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
  <head style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta content='width=device-width' name='viewport' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <title style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>URUUT</title>
      </meta>
    </meta>
  </head>
  <body bgcolor='#FFFFFF' leftmargin='0' marginheight='0' marginwidth='0' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%;' topmargin='0'>
    <!--
      ----------------------------------
      ---- HEADER --------------------------
      -----------------------------------
    -->
    <table class='head-wrap' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
      <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;background:none;'></td>
        <td class='header container' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;display: block;max-width: 620px;clear: both;'>
          <div class='content' style='margin: 0 auto;padding: 15px 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;display: block;'>
            <table style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;font-weight: normal;font-size: 11px;line-height: 1;'>
                    <span style='color:#70bf4c'>Uruut.</span>
                    Connect. Cooperate. Take Action
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
      </tr>
    </table>
    <table class='head-wrap' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
      <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;background:none;'></td>
        <td class='header container' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;display: block;max-width: 620px;clear: both;border-bottom:6px solid #70bf4c;background:#403e37'>
          <div class='content' style='margin: 0 auto;padding: 15px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;display: block;'>
            <table bgcolor='#403e37' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <img src='https://uruut.herokuapp.com/assets/logo.png' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 100%;'>
                </td>
                <td align='right' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
              </tr>
            </table>
          </div>
        </td>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
      </tr>
    </table>
    <!--
      ----------------------------------
      ---- BODY ----------------------------
      -----------------------------------
    -->
    <table class='body-wrap' style='margin:-6px 0 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
      <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
        <td class='container' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;display: block;max-width: 620px;clear: both;'>
          <!-- content -->
          <div class='content' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;display: block;'>
            <table style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <img src='http://uruut-dev.herokuapp.com/assets/pr-email-banner.jpg' style='margin: 0 0 0 -2px;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 100%;max-width:620px;'>
                  <!-- /hero -->
                </td>
              </tr>
            </table>
          </div>
          <!-- COLUMN WRAP -->
          <div class='column-wrap' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;'></div>
          <div class='column' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width:100%;'>
            <table align='left' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td style='margin: 0;padding: 15px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width:100%;max-width:620px;'>
                  <h3 style='margin: 0;padding: 0;font-family: &amp;quot;HelveticaNeue-Light&amp;quot;, &amp;quot;Helvetica Neue Light&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, &amp;quot;Lucida Grande&amp;quot;, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #70bf4c;font-weight: 900;font-size: 16px;'>GET RUUTED WITH URUUT – NOW IN PUBLIC BETA</h3>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;'>Thanks so much for your interest in UruutTM – a new collaborative crowdfunding platform that promises to strengthen communities. We are so excited to announce that we are in public beta and we want to remind you:</p>
                  <h6 style='margin: 0;padding: 0;font-family: &amp;quot;HelveticaNeue-Light&amp;quot;, &amp;quot;Helvetica Neue Light&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, &amp;quot;Lucida Grande&amp;quot;, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #70bf4c;font-weight: 900;font-size: 14px;'>Strengthening community starts with U.</h6>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;'>Every community has great projects that can’t get off the ground. But with Uruut, yours can be different. Your park needs a new playground? Uruut it. Need a new library? Uruut it. Senior center? Bike path? Dog park? Uruut it.</p>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;'>
                    We’re here to help strengthen your community by empowering you – the concerned neighbor, the local business, the fundraiser and the private foundation – to do more good. Today, we are proud to give you a chance to experience Uruut and contribute to our first project owner, Ashford Park School Education Foundation (APSEF).
                  </p>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;'>
                    Located in the Atlanta suburb of Brookhaven, APSEF aims to raise $100,000 through Uruut to construct an outdoor classroom where students can get dirty with hands-on science experiments, gardening lessons and nature explorations.  This classroom will also double as an amphitheater that will showcase student theatrical productions, school lectures, and a range of community-wide events. Click here to view our first project and make a contribution!
                  </p>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;'>
                    Community and civic organizations interested in receiving funding through Uruut’s platform can click here to apply for public beta consideration.
                  </p>
                  <h3 style='margin: 0;padding: 0;font-family: &amp;quot;HelveticaNeue-Light&amp;quot;, &amp;quot;Helvetica Neue Light&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, &amp;quot;Lucida Grande&amp;quot;, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #70bf4c;font-weight: 900;font-size: 16px;'>
                    Get Ruuted!
                    <span style='color:#fff;'>The Uruut Team</span>
                  </h3>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;'>P.S. Our platform will only be as strong as the people, community organizations, businesses and foundations that support us, so connect with us and spread the love on Twitter, Facebook, LinkedIn and Google+!</p>
                </td>
              </tr>
            </table>
          </div>
          <!-- /COLUMN WRAP -->
        </td>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
      </tr>
    </table>
    <!-- FOOTER -->
    <table class='head-wrap' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
      <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;background:none;'></td>
        <td class='header container' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;display: block;max-width: 620px;clear: both;background:#403e37'>
          <div class='content' style='margin: 0 auto;padding: 15px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;display: block;'>
            <table bgcolor='#403e37' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
                <td align='right' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <div style='color:#fff'>
                    <span style='font-size:14px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;vertical-align:middle'>FIND US ON:</span>
                    <a href='http://www.facebook.com/get.ruuted' style='color:#fff;text-decoration:none;margin:0 5px;'>
                      <img src='http://uruut-dev.herokuapp.com/assets/email-facebook.png' style='vertical-align:middle;margin-right:5px;'>/get.ruuted</img>
                    </a>
                    <a href='http://www.twitter.com/uruut' style='color:#fff;text-decoration:none;margin:0 5px;'>
                      <img src='http://uruut-dev.herokuapp.com/assets/email-twitter.png' style='vertical-align:middle;margin-right:5px;'>@uruut</img>
                    </a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
      </tr>
    </table>
    <table class='footer-wrap' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;clear: both;'>
      <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
        <td class='container' style='margin: 0 auto;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;display: block;max-width: 620px;clear: both;'>
          <!-- content -->
          <div class='content' style='margin: 0 auto;padding: 15px;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;max-width: 620px;display: block;'>
            <table style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;width: 100%;'>
              <tr style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                <td align='center' style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'>
                  <p style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size:10px;'>
                    URUUT | 1551 Dunwoody Village Parkway #888237 | Atlanta | GA | 30356
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <!-- /content -->
        </td>
        <td style='margin: 0;padding: 0;font-family: &amp;quot;Helvetica Neue&amp;quot;, &amp;quot;Helvetica&amp;quot;, Helvetica, Arial, sans-serif;'></td>
      </tr>
    </table>
    <!-- /FOOTER -->
  </body>
</html>
