.box-content
  %h5.label-green{style: "margin-bottom: 7px;"} NOT READY TO BUY NOW?
  = link_to 'Request A Free Demo ►', pricing_pages_path
  %br
  = link_to 'Request More Information ►', pricing_pages_path
