.box-content
  %h5.label-green{style: "margin-bottom: 7px;"} ORDER SUMMARY
  %p{style: "margin-bottom: 0;"}
    %b Plan: 
    Uruut Basic Subscription
    %br
    %b Price: 
    $99 / mo
    %br
    %b Amount to be charged today: 
    $99.00
    %br
    %i Upgrade or cancel online, anytime.
