%section.full-width.our-story
  .container
    %h1 Thank You! Your Uruut Account is Now Active.

    %p{ style: 'margin: 12px 115px 35px;' }
      Set up your first campaign, access Uruut’s powerful donor relationship management tools, or just start exploring.

    = link_to new_project_path do
      .btn
        GET STARTED ►

    %p{ style: 'margin: 50px 115px 10px;' }
      To help you get started, we will assign one of our campaign launch managers to <a href="http://meetme.so/UruutConsulting">schedule a kick-off call</a> with you to walk you through the campaign set up process and help answer any questions you might have.

    %p{ style: 'margin: 1px 115px 1px;' }
      <a href="http://meetme.so/UruutConsulting">Click here</a> to schedule your kick-off call.
