%section.full-width.our-story
  .container
    %h1 Thank You! Your Uruut Account is Now Active.

    %p{ style: 'margin: 12px 115px 35px;' }
      Set up your first campaign, access Uruut’s powerful donor relationship management tools, or just start exploring.

    = link_to new_project_path do
      .btn
        GET STARTED ►
